Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

User : Registrar properties added. appsettings.json of notification app fixed
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/UserReadModel.cs
Due: app, production

User activation sms/email fixed
  src/TestOkur.Notification/Consumers/UserActivatedConsumer.cs
Due: app, production

ToSmsFriendly method change : if string is null or empty then return empty string
  src/TestOkur.Notification/Extensions/StringExtensions.cs
  tests/TestOkur.Notification.Unit.Tests/Extensions/ToSmsFriendlyShould.cs
Due: app, tests, production, test

redundant config fields removed
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.WebApi/appsettings.Development.json
Due: app, production

Nuget update
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

limit qa containers memory usage
  deploy/notification-qa.sh
  deploy/report-qa.sh
  deploy/webapi-qa.sh
Due: none

compile error fixed
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
Due: app, production

SendLicenseExpirationNoticeShould tests fixed and minor code clean-up
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
Due: app, tests, production, test

codecov badge url fixed. BetterCode badge removed.
  README.md
Due: none

User migration removed
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/UserSeeder.cs
  src/TestOkur.WebApi/Data/Users.xlsx
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ActivateUserTests.cs
Due: app, tests, production, test

redis - redis strong name issue fixed
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/User/ActivateUserTests.cs
Due: app, tests, production, test

IdentityModel revered back to previous version
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

UserActivated SMS template fixed
  src/TestOkur.Notification/Consumers/UserActivatedConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
Due: app, production

User Activation SMS Title fixed
  src/TestOkur.Notification/Models/Template.cs
Due: app, production

AuditChangesAsync method renamed
  src/TestOkur.Data/ApplicationDbContext.cs
Due: app, production

identity update model active property added
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommand.cs
  src/TestOkur.WebApi/Application/User/Services/UpdateUserModel.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
Due: app, tests, production, test

DeleteClassroom and EditClassroomCommand added missing CacheKeys
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommand.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommand.cs
Due: app, production

QA containers memory limit increased
  deploy/notification-qa.sh
  deploy/report-qa.sh
  deploy/webapi-qa.sh
Due: none

minor code cleanup
  src/TestOkur.WebApi/Startup.cs
Due: app, production

ci/cd scripts reworked
  .circleci/config.yml
  deploy/notification-prod.sh
  deploy/report-prod.sh
  deploy/webapi-prod.sh
Due: none

circleci.yml fixes
  .circleci/config.yml
Due: none

code-coverage requirement fromed from build steps
  .circleci/config.yml
Due: none

undo circleci yml changes
  .circleci/config.yml
Due: none

circleci fixes
  .circleci/config.yml
Due: none

circleci fix
  .circleci/config.yml
Due: none

circleci
  .circleci/config.yml
Due: none

ci/cd fixes
  .circleci/config.yml
  deploy/report-prod.sh
Due: none

CI/CD changes
  .circleci/config.yml
  deploy/notification-qa.sh
  deploy/report-qa.sh
  deploy/webapi-qa.sh
Due: none

Subscription Extension renaming and code-cleanup
  TestOkur.WebApi.sln
  mockserver/mocks/scenarios.json
  mockserver/mocks/templates.json
  src/TestOkur.Contracts/User/IUserSubscriptionExtended.cs
  src/TestOkur.Notification/Consumers/UserSubscriptionExtendedConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/UserSubscriptionExtendedEmail.html
  src/TestOkur.Notification/Templates/UserSubscriptionExtendedSms.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Extend user subscription impl
  mockserver/mocks/scenarios.json
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Events/UserSubscriptionExtended.cs
  src/TestOkur.WebApi/Application/User/Services/IIdentityService.cs
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

code cleanup
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
Due: app, production

new local strings added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

Missing local string added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

Fix : Turkish Character issue with templating. Ench : Nuget update
  .gitignore
  src/TestOkur.Notification/Templates/UserSubscriptionExtendedSms.html
  src/TestOkur.Notification/Templates/User_MembershipActivation_SMS.html
  src/TestOkur.Notification/Templates/User_SMSOrder_SMS.html
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

ci/cd rework : using docker hub
  .circleci/config.yml
  deploy/notification-prod.sh
  deploy/notification-qa.sh
  deploy/report-prod.sh
  deploy/report-qa.sh
  deploy/webapi-prod.sh
  deploy/webapi-qa.sh
Due: none

ci/cd script minor fix at caching step
  .circleci/config.yml
Due: none

OAuthClient missing Configuration added
  src/TestOkur.Notification/Startup.cs
Due: app, production
