Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Failing tests fixed
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
  tests/TestOkur.Sabit.Integration.Tests/WebApplicationFactory.cs
Due: app, tests, production, test

self log serilog
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

License types updaded
  src/TestOkur.Sabit/Data/license-types.json
Due: app, production

REfactoring. And adding gcdump
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Application/Error/ErrorController.cs
  src/TestOkur.Sabit/Application/Form/FormsController.cs
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.Sabit/Extensions/IFormFileExtensions.cs
  src/TestOkur.WebApi/Dockerfile
Due: app, production

redundant dependency removed
  src/TestOkur.Domain/TestOkur.Domain.csproj
Due: app, production

avoid double listing
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IAnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IStudentOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

subject name update optimizations
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

Exam Statistics Calculation
  src/TestOkur.Report/Domain/Statistics/CountTable.cs
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Domain/Statistics/GroupedSumTable.cs
  src/TestOkur.Report/Domain/Statistics/SectionAverage.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
  src/TestOkur.Report/Domain/Statistics/SumTable.cs
Due: app, production

ExamStatistics
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Controllers/DiagnosticController.cs
  src/TestOkur.Report/Controllers/EvaluateController.cs
  src/TestOkur.Report/Controllers/ExamStatisticsController.cs
  src/TestOkur.Report/Controllers/SchoolResultController.cs
  src/TestOkur.Report/Domain/Statistics/CountTable.cs
  src/TestOkur.Report/Domain/Statistics/GroupedSumTable.cs
  src/TestOkur.Report/Domain/Statistics/SumTable.cs
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IExamStatisticsRepository.cs
  src/TestOkur.Report/Infrastructure/TestOkurContext.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

Failing test fixed
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Startup.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
Due: app, tests, production, test

Some improvements
  src/TestOkur.Report/Consumers/ExamCreatedConsumer.cs
  src/TestOkur.Report/Consumers/ExamUpdatedConsumer.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IAnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

some fix
  src/TestOkur.Report/Consumers/ExamCreatedConsumer.cs
  src/TestOkur.Report/Consumers/ExamUpdatedConsumer.cs
  src/TestOkur.Report/Controllers/ExamStatisticsController.cs
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IAnswerKeyOpticalFormRepository.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
Due: app, tests, production, test

Empty check in statistics insert
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
Due: app, production

if exam has no stats then return Empty
  src/TestOkur.Report/Controllers/ExamStatisticsController.cs
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
Due: app, production

Uncomment report minification
  src/TestOkur.Report/Dockerfile
Due: app, production

LessonName and LessonId added to the section average
  src/TestOkur.Report/Domain/Statistics/SectionAverage.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
Due: app, production

Bugfix : ExamStats
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
Due: app, production

bug fix
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
Due: app, production

ExamStatitstic further refactoring.
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Controllers/ExamStatisticsController.cs
  src/TestOkur.Report/Domain/AverageList.cs
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/IEvaluator.cs
  src/TestOkur.Report/Domain/SchoolResult.cs
  src/TestOkur.Report/Domain/Statistics/SectionAverage.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IExamStatisticsRepository.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/AverageListTests.cs
  tests/TestOkur.Report.Unit.Tests/EvaluatorTests.cs
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

sort report stats
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
Due: app, production

sort direction fixed
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
Due: app, production

Minor refactoring
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.Report.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.WebApi.Integration.Tests/HealthCheckTests.cs
Due: app, tests, production, test

wip
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerKeyOpticalFormSection.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerkeyOpticalForm.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/QuestionAnswer.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/QuestionAnswerCancelAction.cs
Due: app, production

..
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerKeyOpticalFormPart.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerKeyOpticalFormSection.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerkeyOpticalForm.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/QuestionAnswer.cs
  src/TestOkur.Report/Domain/Optic/EvaluationResult.cs
  src/TestOkur.Report/Domain/Optic/Evaluator.cs
  src/TestOkur.Report/Domain/Optic/OpticalForm.cs
  src/TestOkur.Report/Domain/Optic/QuestionAnswerResult.cs
  src/TestOkur.Report/Domain/Optic/ScanResult.cs
  src/TestOkur.Report/Domain/Optic/SectionAnswerResult.cs
  src/TestOkur.Report/Domain/Optic/SectionResult.cs
  src/TestOkur.Report/Domain/Optic/StudentExamResult.cs
  src/TestOkur.Report/Domain/Optic/StudentOpticalForm.cs
  src/TestOkur.Report/Domain/Optic/StudentSectionAnswerResult.cs
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Infrastructure/Repositories/ExamStatisticsRepository.cs
  src/TestOkur.WebApi/Data/cities.json
Due: app, production

WIP
  src/TestOkur.Report/Domain/Optic/Answerkey/AnswerkeyOpticalForm.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/LessonCoefficient.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/QuestionAnswer.cs
  src/TestOkur.Report/Domain/Optic/Answerkey/ScoreFormula.cs
  src/TestOkur.Report/Domain/Optic/Answers.cs
  src/TestOkur.Report/Domain/Optic/EvaluationResult.cs
  src/TestOkur.Report/Domain/Optic/Evaluator.cs
  src/TestOkur.Report/Domain/Optic/SectionAnswerResult.cs
  src/TestOkur.Report/Domain/Optic/SectionResult.cs
  src/TestOkur.Report/Domain/Optic/StudentExamResult.cs
  src/TestOkur.Report/Domain/Optic/StudentOpticalForm.cs
  src/TestOkur.Report/Domain/Optic/StudentSectionAnswerResult.cs
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
Due: app, production

Join and evaluate contract change
  src/TestOkur.Report/Controllers/EvaluateController.cs
  src/TestOkur.Report/Models/JoinResult.cs
Due: app, production

lesson id fix
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
Due: app, production

template fixed
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

Using custom class for ReportRequest
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/GetTests.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/ReportRequestTest.cs
Due: app, tests, production, test

Log level and removed console
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

Nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Nuget update
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

.netcore 3.1 update for prometheus
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

seq url added to health check
  mockserver/mocks/scenarios.json
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/appsettings.json
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/appsettings.Development.json
Due: app, production

docker compose test file fixed
  docker-compose.tests.yml
Due: none

circle ci name changed from deploy qa to build and test
  .circleci/config.yml
Due: none

assets added
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/assets/Chart.min.js
  src/TestOkur.Report/wwwroot/assets/main.css
Due: app, production

template asset url reworked
  src/TestOkur.Report/wwwroot/Templates/answerkey-report.html
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
  src/TestOkur.Report/wwwroot/Templates/classroom-list.html
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/main.css
  src/TestOkur.Report/wwwroot/Templates/question-analysis-report.html
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
  src/TestOkur.Report/wwwroot/Templates/school-exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/sms-report.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.Report/wwwroot/Templates/student-question-analysis-report.html
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

qa deploy scripts and memory limits removed
  deploy/notification-prod.sh
  deploy/notification-qa.sh
  deploy/report-prod.sh
  deploy/report-qa.sh
  deploy/webapi-prod.sh
  deploy/webapi-qa.sh
Due: none
