Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

Adding DOTNET_USE_POLLING_FILE_WATCHER Env
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Some tests temporarily commented out
  src/TestOkur.WebApi/Dockerfile
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
Due: app, tests, production, test

PasswordResetUserNotFound custom error message
  src/TestOkur.Common/ErrorCodes.cs
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
Due: app, production

Daily report implementation
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReportModel.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

ExpiredLicensesToday added to the report
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
Due: app, production

Missing await keyword added
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
Due: app, production

TodaysLogins added to DailyReport
  src/TestOkur.Notification/Infrastructure/Clients/IOAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
Due: app, production

Bugfix : DataContract and Eventbus message should be separated.
  src/TestOkur.Notification/Models/Sms.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/SmsMessage.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
Due: app, tests, production, test

Better naming for statistics
  src/TestOkur.WebApi/Application/Statistics/DailyReportStatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/Statistics/DailyReportStatisticsReadModel.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsController.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQuery.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsReadModel.cs
Due: app, production

New fields added to Daily Report
  src/TestOkur.Notification/Infrastructure/Clients/IWebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Models/StatisticsReadModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/IDailyReportTask.cs
  src/TestOkur.Notification/ScheduledTasks/IDailyReport.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
Due: app, production

Daily report more Statistics
  src/TestOkur.Notification/Infrastructure/Clients/IReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Models/ReportStatisticsModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Notification/appsettings.prod.json
  src/TestOkur.Notification/appsettings.qa.json
  src/TestOkur.Report/Controllers/ReportRequestController.cs
  src/TestOkur.Report/Models/ReportStatisticsModel.cs
  src/TestOkur.Report/Repositories/IReportRequestRepository.cs
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

white-space added between joined items
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
Due: app, production

DailyReportTask Null check
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
Due: app, production

Bugfix: When smslist is empty ; "System.InvalidOperationException: Sequence contains no elements"
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
Due: app, production

Minor report format change
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

Missing local string for InsufficientFunds added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

Sms report impl and template
  src/TestOkur.Notification/Controllers/SmsController.cs
  src/TestOkur.Notification/Extensions/IHttpContextAccessorExtensions.cs
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Models/UserSmsModel.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/sms-report.html
Due: app, production

Endpoint renamed
  src/TestOkur.Notification/Controllers/SmsController.cs
Due: app, production

HttpContextAccessor is registered for notification API
  src/TestOkur.Notification/Startup.cs
Due: app, production

Missing app.UseAuthentication(); line added
  src/TestOkur.Notification/Startup.cs
Due: app, production

Sms report template fixed
  src/TestOkur.Report/wwwroot/Templates/sms-report.html
Due: app, production

Missing local string added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

replacing alpine image with official .netcore image
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Dockerfile
Due: app, production

commented tests uncommented
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
Due: tests, test

Daily Report style fix
  src/TestOkur.Notification/Models/ReportStatisticsModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Report/Models/ReportStatisticsModel.cs
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
Due: app, production

Fix for : The configured user limit (128) on the number of inotify instances has been reached
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Compile error fixed
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
Due: app, production

Fix for : The configured user limit (128) on the number of inotify
  docker-compose.tests.yml
  src/TestOkur.WebApi/Dockerfile
Due: app, production

DOTNET_USE_POLLING_FILE_WATCHER environment value set true in test container
  docker-compose.tests.yml
Due: none

temporarily commented a test
  docker-compose.tests.yml
  tests/TestOkur.WebApi.Integration.Tests/LicenseTypeControllerTests.cs
Due: tests, test

Admin daily report fixed : KeyValue properties should start uppercase
  TestOkur.WebApi.sln
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
Due: app, production

LicenseExpirationNoticeTask rename and restructure
  src/TestOkur.Notification/ScheduledTasks/ISendLicenseExpirationNotice.cs
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/ILicenseExpirationNoticeTask.cs
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/LicenseExpirationNoticeTask.cs
  src/TestOkur.Notification/Startup.cs
Due: app, production

Failing unit test fixed
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
Due: tests, test

identity api endpoints updated
  mockserver/mocks/scenarios.json
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
Due: app, production

Daily report style fixes
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
Due: app, production

Trying to fix The configured user limit (128) on the number of inotify error
  tests/TestOkur.WebApi.Integration.Tests/CaptchaControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/CityControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/ExamTypeControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Lesson/GetTests.cs
  tests/TestOkur.WebApi.Integration.Tests/LicenseTypeControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/LocalizationApiTests.cs
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/PrometheusTests.cs
  tests/TestOkur.WebApi.Integration.Tests/SettingsControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/AddCreditsTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ActivateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/CreateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/DeleteUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ResetPasswordTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
Due: tests, test

subject success added to student exam report.
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

Re-evaluate multiple exams command & event impl and Nuget update
  src/TestOkur.Contracts/Exam/IReEvaluateMultipleExams.cs
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Consumers/ReEvaluateAllTheExamsConsumer.cs
  src/TestOkur.Report/Extensions/DependencyInjectionReceiveEndpointExtensions.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Exam/Commands/ReEvaluateMultipleExams.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetAllExamIdsQuery.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetAllExamIdsQueryHandler.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

GeneratePasswordResetToken token serialization issue fixed
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
