Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

oauth user endpoint updated
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
Due: app, production

mock endpoint fixed
  mockserver/mocks/scenarios.json
Due: none

cleanup steps added
  .circleci/config.yml
Due: none

yml indendation fixed
  .circleci/config.yml
Due: none

worflow naming fixed
  .circleci/config.yml
Due: none

AdminEmails updated
  src/TestOkur.WebApi/Data/SettingsSeeder.cs
Due: app, production

Available SchoolType fields added to ExamType model.
  src/TestOkur.Domain/Model/ExamModel/ExamType.cs
  src/TestOkur.Domain/Model/ExamModel/ExamTypeBuilder.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQueryHandler.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeReadModel.cs
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommand.cs
  src/TestOkur.WebApi/Data/ExamTypeSeeder.cs
  src/TestOkur.WebApi/Migrations/20190916213107_ExamTypeAvailableSchoolTypesAdded.Designer.cs
  src/TestOkur.WebApi/Migrations/20190916213107_ExamTypeAvailableSchoolTypesAdded.cs
  tests/TestOkur.WebApi.Integration.Tests/ExamTypeControllerTests.cs
Due: app, tests, production, test

minor code-cleanup
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

Error Message Template fixed
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
Due: app, production

Default Fault Consumer
  src/TestOkur.Notification/Consumers/DefaultFaultConsumer.cs
  src/TestOkur.Notification/Startup.cs
  tests/TestOkur.Notification.Integration.Tests/Common/TestStartup.cs
Due: app, tests, production, test

BUlkStudent bugfix
  src/TestOkur.WebApi/Application/Contact/CreateContactCommand.cs
Due: app, production

Bugfix : Receiving 'Collection was modified; enumeration operation may not execute.' error during change tracking
  src/TestOkur.Data/ApplicationDbContext.cs
Due: app, production

EnableSensitiveDataLogging
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Bugfix : Remove null contacts from student
  src/TestOkur.WebApi/Application/Student/CreateStudentCommand.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/StudentTest.cs
Due: app, tests, production, test

Ensure Student does not exists before creating it
  src/TestOkur.WebApi/Application/Student/CreateStudentCommandHandler.cs
Due: app, production

Bugfix : Expiration date fixed when user license already expired
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
Due: app, production

ApplicationInsights replaced with Sentry
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Missing localstrings added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

Authorization policy for api/v1/users changed from Admin to Private
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

Fix fir "Collection was modified; enumeration operation may not execute." during change auditing
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
Due: app, production

Fix : Re-using existing user ids in query handlers. Filtering 4.xx client errors for application insight.
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Classroom/CreateClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/GetUserClassroomsQuery.cs
  src/TestOkur.WebApi/Application/Contact/CreateContactCommandHandler.cs
  src/TestOkur.WebApi/Application/Contact/GetUserContactsQuery.cs
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetUserExamsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetUserLessonsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetUserUnitsQuery.cs
  src/TestOkur.WebApi/Application/Score/BulkEditScoreFormulaCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/GetUserStudentsQuery.cs
  src/TestOkur.WebApi/Application/Student/GetUserStudentsQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

missing local string added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

demo user should not be updated
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserCommandHandler.cs
Due: app, production

Missing local string added
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

Source column added to Student model to identify source of the record
  src/TestOkur.Domain/Model/StudentModel/Student.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommand.cs
  src/TestOkur.WebApi/Application/Student/StudentReadModel.cs
  src/TestOkur.WebApi/Migrations/20190918174311_Student_SourceColumn_Added.Designer.cs
  src/TestOkur.WebApi/Migrations/20190918174311_Student_SourceColumn_Added.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/StudentTest.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
Due: app, tests, production, test

ReportRequest endpoint and repository impl + test
  src/TestOkur.Report/Controllers/ReportRequestController.cs
  src/TestOkur.Report/Infrastructure/TestOkurContext.cs
  src/TestOkur.Report/Models/ReportRequest.cs
  src/TestOkur.Report/Repositories/IReportRequestRepository.cs
  src/TestOkur.Report/Repositories/ReportRequestRepository.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Migrations/20190918174311_Student_SourceColumn_Added.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/AddTests.cs
Due: app, tests, production, test

Properties for student report added
  src/TestOkur.Report/Models/ReportRequest.cs
Due: app, production

EMailRepository impl : System e-mails should be stored for auditing purposes
  src/TestOkur.Notification/Extensions/MailMessageExtensions.cs
  src/TestOkur.Notification/Infrastructure/Clients/EmailClient.cs
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/TestOkurContext.cs
  src/TestOkur.Notification/Models/EMail.cs
  src/TestOkur.Notification/Startup.cs
Due: app, production

Online user tracking added
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/IEMailRepository.cs
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
  src/TestOkur.WebApi/Application/User/OnlineUserTracker.cs
  src/TestOkur.WebApi/Application/User/OnlineUserTrackerCleanupService.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/TestStartup.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
Due: app, tests, production, test

MaxAllowedDeviceCount should be 1000 by default
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
Due: app, production

Integration test for online user tracking
  src/TestOkur.WebApi/Application/User/UserController.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetOnlineUsersTests.cs
Due: app, tests, production, test

the number of inotify instances has been reached. issue fixed
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Nuget Update : Test Helper and Test SDK packages
  src/TestOkur.WebApi/Dockerfile
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Fix : Incorrectly set text direction for TEOG Forms fixed
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
