Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Nuget Update : TestOkur.Optic
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

Bugfix: If there is only one answerkey then don't check student optical form booklet.
  src/TestOkur.Report/Domain/Evaluator.cs
Due: app, production

Nuget Update : TestOkur.Optic package
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

answerkey-report template fixed
  src/TestOkur.Report/wwwroot/Templates/answerkey-report.html
Due: app, production

Nuget Update + Minor Fixes
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormTypes.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

class-comparison-report template updated
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
Due: app, production

Html clean-up
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
Due: app, production

Average Lesson success percent added to the average list.
  src/TestOkur.Report/Domain/Evaluator.cs
Due: app, production

Templates updated : Using assets instead of cdn. Nuget update.
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.Report/wwwroot/Templates/student-report.html
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

Class comparison report template : if it is a single lesson exam display lowest/highest scores
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
Due: app, production

IEvaluator interface impl. UserError should contain user phone and user e-mail
  src/TestOkur.Contracts/Alert/IUserErrorReceived.cs
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/IEvaluator.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Application/Error/ErrorModel.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Unit.Tests/EvaluatorTests.cs
Due: app, tests, production, test

Minor code-cleanup
  src/TestOkur.Report/Domain/IEvaluator.cs
  src/TestOkur.WebApi/Migrations/20190809101840_ExamScoreFormulaDeleted.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
Due: app, tests, production, test

Hangfire integration and minor template fixes
  src/TestOkur.Notification/Consumers/UserActivatedConsumer.cs
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Notification/Extensions/StringExtensions.cs
  src/TestOkur.Notification/Infrastructure/HangfireDashboardAuthorizationFilter.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Models/UserModel.cs
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Notification/ScheduledTasks/ISendLicenseExpirationNotice.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/User_License_Expiration_Reminder_Mail.html
  src/TestOkur.Notification/Templates/User_License_Expiration_Reminder_SMS.html
  src/TestOkur.Notification/Templates/User_RemindPassword_Mail.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
Due: app, tests, production, test

Failing test fixed
  docker-compose.tests.yml
  src/TestOkur.Notification/Startup.cs
Due: app, production

Failing tests fixed
  src/TestOkur.Notification/Startup.cs
Due: app, production

License Notification time updated
  src/TestOkur.Notification/Startup.cs
Due: app, production

LicenseExpirationSms templating issue fixed
  src/TestOkur.Notification/Configuration/HangfireConfiguration.cs
  src/TestOkur.Notification/Infrastructure/HangfireDashboardAuthorizationFilter.cs
  src/TestOkur.Notification/Models/UserModel.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/User_MembershipActivation_SMS.html
Due: app, production

Basic auth for hangfire dashboard
  src/TestOkur.Notification/Infrastructure/BasicDashboardAuthorizationFilter.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/appsettings.json
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
Due: app, tests, production, test

Mongodb healthcheck added to notification microservice
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

StudentSeeder added for default user
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/StudentSeeder.cs
Due: app, production

Wrongly matched template fixed
  src/TestOkur.Notification/Models/Template.cs
Due: app, production

EF Core locally executed queries fixed
  src/TestOkur.WebApi/Data/StudentSeeder.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Delete newlines in sms
  src/TestOkur.Notification/Extensions/StringExtensions.cs
Due: app, production

Some caching issues fixed
  .circleci/config.yml
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
  src/TestOkur.WebApi/Application/Student/GetUserStudentsQuery.cs
Due: app, production

Minor code-cleanup
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
Due: app, production

StudentSeeder deleted
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/StudentSeeder.cs
Due: app, production

User Seeding Reworked
  src/TestOkur.Domain/Model/UserModel/User.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommandHandler.cs
  src/TestOkur.WebApi/Data/UserSeeder.cs
  src/TestOkur.WebApi/Data/Users.xlsx
  tests/TestOkur.Domain.Unit.Tests/UserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
Due: app, tests, production, test

student exam report page-break
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

jsreport chart.js path fixed
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

Admin daily report task and code clean-up
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/Clients/EmailClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/IOAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ISmsClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/IWebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Infrastructure/ViewLocationExpander.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/NotificationManager.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/IDailyReport.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
  src/TestOkur.Notification/Templates/LicenseExpirationNoticeSms.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
  tests/TestOkur.Notification.Unit.Tests/Infrastructure/SmsClientShould.cs
Due: app, tests, production, test

SendLicenseExpirationNotice task fixed and Notification service Code refactor.
  .gitignore
  TestOkur.WebApi.sln
  mockserver/mocks/scenarios.json
  mockserver/mocks/users.json
  src/TestOkur.Notification/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Notification/Consumers/AccountExtendedConsumer.cs
  src/TestOkur.Notification/Consumers/NewUserRegisteredConsumer.cs
  src/TestOkur.Notification/Consumers/ResetPasswordTokenGeneratedConsumer.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestFailedConsumer.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Consumers/SmsCreditAddedConsumer.cs
  src/TestOkur.Notification/Consumers/UserActivatedConsumer.cs
  src/TestOkur.Notification/Consumers/UserErrorReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/Clients/IOAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/IWebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/SmsServiceLoggingHandler.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/TestOkurContext.cs
  src/TestOkur.Notification/Infrastructure/INotificationFacade.cs
  src/TestOkur.Notification/Infrastructure/NotificationFacade.cs
  src/TestOkur.Notification/Models/IdentityUser.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/LicenseExpirationNoticeMail.html
  src/TestOkur.Notification/Templates/User_License_Expiration_Reminder_Mail.html
  src/TestOkur.Notification/appsettings.json
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
Due: app, tests, production, test

Minor fix in CircleCI script
  .circleci/config.yml
Due: none

DeleteUser Impl. Usage of dbcontext in integration tests is refactored.
  mockserver/mocks/scenarios.json
  src/TestOkur.WebApi/Application/Score/GetUserScoreFormulasQuery.cs
  src/TestOkur.WebApi/Application/Score/GetUserScoreFormulasQueryHandler.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaReadModel.cs
  src/TestOkur.WebApi/Application/Statistics/DailyReportStatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/DeleteUserCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/DeleteUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Services/IIdentityService.cs
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/Exam/ScanTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Extensions/TestServerExtensions.cs
  tests/TestOkur.WebApi.Integration.Tests/PrometheusTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ActivateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/CreateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/DeleteUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UserTest.cs
Due: app, tests, production, test

DailyReportModel fixed
  src/TestOkur.Notification/ScheduledTasks/DailyReportModel.cs
Due: app, production

deprecated core images changed with mcr.microsoft.com images
  TestOkur.WebApi.sln
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
Due: app, production

Cache settings for 2 weeks
  src/TestOkur.WebApi/Application/Settings/GetAllAppSettingsQuery.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj.DotSettings
Due: app, production

CI/CD script restructure
  .circleci/config.yml
  deploy-prod.sh
  deploy/notification-prod.sh
  deploy/notification-qa.sh
  deploy/report-prod.sh
  deploy/report-qa.sh
  deploy/webapi-prod.sh
  deploy/webapi-qa.sh
Due: none

failing CI script fixed
  .circleci/config.yml
Due: none

Repository lifetime should be scoped not transient
  .circleci/config.yml
  src/TestOkur.Report/Startup.cs
Due: app, production
