Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

Missing types added to ProducesResponseType attribute
  src/TestOkur.WebApi/Application/Classroom/ClassroomController.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

DeleteOpticalForm implementation + tests
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Repositories/IOpticalFormRepository.cs
  src/TestOkur.Report/Repositories/OpticalFormRepository.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/Common/Consumer.cs
  tests/TestOkur.Report.Integration.Tests/Common/TestStartup.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/DeleteTests.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

exam result list header overflow issue fixed
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

Share data folder for seeding up-to-date data
  deploy-webapi-qa.sh
  src/TestOkur.WebApi/Data/UserSeeder.cs
Due: app, production

Phone validation logic additional validation
  src/TestOkur.Domain/Model/Phone.cs
Due: app, production

Tests that contains phone number fixed
  src/TestOkur.WebApi/Application/User/UserController.cs
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/Contact/ContactTest.cs
  tests/TestOkur.WebApi.Integration.Tests/Contact/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/StudentTest.cs
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
Due: app, tests, production, test

User seeder failing when user has invalid phone number issue fixed
  src/TestOkur.WebApi/Data/CitySeeder.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/EnumerationSeeder.cs
  src/TestOkur.WebApi/Data/ExamTypeSeeder.cs
  src/TestOkur.WebApi/Data/ISeeder.cs
  src/TestOkur.WebApi/Data/LessonSeeder.cs
  src/TestOkur.WebApi/Data/LicenseTypeSeeder.cs
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Data/ScoreFormulaSeeder.cs
  src/TestOkur.WebApi/Data/SettingsSeeder.cs
  src/TestOkur.WebApi/Data/UserSeeder.cs
  src/TestOkur.WebApi/Program.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/TestServerFactory.cs
Due: app, tests, production, test

Compare e-mail address value when saving user
  src/TestOkur.WebApi/Data/UserSeeder.cs
Due: app, production

User entity properties resized
  src/TestOkur.Data/EntityConfigurations/User/UserEntityTypeConfiguration.cs
  src/TestOkur.WebApi/Migrations/20190730202137_UserColumnsResized.Designer.cs
  src/TestOkur.WebApi/Migrations/20190730202137_UserColumnsResized.cs
Due: app, production

ErrorController together with integration tests
  src/TestOkur.Contracts/Alert/IUserErrorReceived.cs
  src/TestOkur.Notification/Consumers/UserErrorReceivedConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
  src/TestOkur.WebApi/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Application/Error/ErrorModel.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/Common/Consumer.cs
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorSS.PNG
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

uploads folder
  src/TestOkur.WebApi/wwwroot/uploads/.gitignore
Due: app, production

EvaluateExamFaultConsumer implemented
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Consumers/EvaluateExamFaultConsumer.cs
  src/TestOkur.Report/Extensions/DependencyInjectionReceiveEndpointExtensions.cs
Due: app, production

Failing test fixed
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
Due: tests, test

Failing integration test fixed
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Error/ss.png
Due: tests, test

Failing integration test fixed
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
Due: tests, test

Failing test fixed
  src/TestOkur.WebApi/Dockerfile
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

Nuget update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

EvaluateExamFaultConsumer log only exceptions
  src/TestOkur.Report/Consumers/EvaluateExamFaultConsumer.cs
Due: app, production

Report integration tests fixed
  docker-compose.tests.yml
  src/TestOkur.Report/Consumers/EvaluateExamFaultConsumer.cs
  src/TestOkur.Report/Dockerfile
Due: app, production

sentry.io default logging level changed to Warning
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.Report/appsettings.json
  src/TestOkur.WebApi/appsettings.json
Due: app, production

Evaluate exam Logging level changed
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
Due: app, production

AppMetrics added
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/appsettings.json
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/appsettings.json
Due: app, production

App.Metrics prometheus formatting.
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Prometheus does not support protobuff format anymore. Hence, only text format will be used
  src/TestOkur.Report/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

Undo deleted line
  src/TestOkur.Report/Program.cs
Due: app, production

AppMetris removed
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/appsettings.json
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/appsettings.json
Due: app, production

NewErrorMessageReceived template copy issue fixed + Code clean-up
  src/TestOkur.Notification/Consumers/UserErrorReceivedConsumer.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Consumers/EvaluateExamFaultConsumer.cs
  src/TestOkur.WebApi/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
  tests/TestOkur.WebApi.Integration.Tests/Contact/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/GetTests.cs
Due: app, tests, production, test

Display error image in the email
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
Due: app, production

Use Query object to check if exam exists
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
Due: app, production

docker volume set for uploads
  deploy-webapi-qa.sh
Due: none

Minor changes on error message e-mail Template
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
Due: app, production

Language lesson name changed to English
  src/TestOkur.Domain/Model/LessonModel/Lessons.cs
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Data/ScoreFormulaSeeder.cs
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
Due: app, tests, production, test

Rework :Student - Contact read model
  src/TestOkur.WebApi/Application/Contact/ContactReadModel.cs
  src/TestOkur.WebApi/Application/Student/GetUserStudentsQueryHandler.cs
Due: app, production

GetOpticalFormsByStudentId func/endpoint impl + test
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Repositories/IOpticalFormRepository.cs
  src/TestOkur.Report/Repositories/OpticalFormRepository.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/GetTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/OpticalFormTest.cs
Due: app, tests, production, test

CreateExamCommandHandler query for checking existing exam name fixed.
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
Due: app, production

student-report template impl
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

Minor change in report template
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

Student report typo fix
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
