Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Massive Changes after Infra enhancements
  src/TestOkur.Notification/Infrastructure/Data/TestOkurContext.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Controllers/ReportRequestController.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Classroom/ClassroomController.cs
  src/TestOkur.WebApi/Application/Classroom/CreateClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommand.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Contact/ContactController.cs
  src/TestOkur.WebApi/Application/Contact/CreateContactCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
  src/TestOkur.WebApi/Application/Scan/ScanController.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Application/Sms/SmsController.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/GetUserStudentsQueryHandler.cs
  src/TestOkur.WebApi/Application/Student/StudentController.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserByEmailQueryHandler.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
  src/TestOkur.WebApi/Infrastructure/UserIdProvider.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
Due: app, tests, production, test

use in memory cache for caching
  src/TestOkur.WebApi/Startup.cs
Due: app, production

set memory limit for prod container to 512M
  deploy/webapi-prod.sh
Due: none

Removing redis all together , till the client is fixed
  deploy/webapi-prod.sh
  src/TestOkur.Contracts/App/IEventSuccessfullyExecutedAckEvent.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommand.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Orders fixed
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

False Async calls converted to sync calls
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserOnlineStatusCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

Code cleanup
  src/TestOkur.Contracts/App/EventSuccessfullyExecutedAckEvent.cs
  src/TestOkur.Contracts/App/IEventSuccessfullyExecutedAckEvent.cs
  src/TestOkur.WebApi/Infrastructure/HeaderTelemetryInitializer.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Admin Daily Report clean-up and minor changes
  src/TestOkur.Notification/Dtos/NotificationStatisticsDto.cs
  src/TestOkur.Notification/Infrastructure/Data/IStatsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/StatsRepository.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

Failing integration test fixed
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

TEmplate fixed
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

dummy name
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

Statistics endpoint added to notification API
  src/TestOkur.Notification/Controllers/StatisticsController.cs
Due: app, production

CORS setup for report api
  src/TestOkur.Report/Startup.cs
Due: app, production

student exam fixed for sections with too many questions
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

using concurrent dict instead of dictionary
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserOnlineStatusCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
Due: app, production

Todays SMS query fixed
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/StatsRepository.cs
Due: app, production

SmsResender task impl
  src/TestOkur.Notification/Controllers/SmsController.cs
  src/TestOkur.Notification/HostedServices/BusService.cs
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/ISmsResender.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/SmsResender.cs
  src/TestOkur.Notification/Startup.cs
Due: app, production

sms multiple get route fixed
  src/TestOkur.Notification/Controllers/SmsController.cs
Due: app, production

CreatedOnDateTimeUtc added to UserSmsModel
  src/TestOkur.Notification/Models/UserSmsModel.cs
Due: app, production

IScheduledTask interface added to hangfire scheduled tasks
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/IDailyReportTask.cs
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/ILicenseExpirationNoticeTask.cs
  src/TestOkur.Notification/ScheduledTasks/ReEvaluateAllExams/IReEvaluateAllExamsTask.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/ISmsResender.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/SmsResender.cs
Due: app, production

MIssing IScheduledTask added
  src/TestOkur.Notification/ScheduledTasks/IScheduledTask.cs
Due: app, production

code coverage brought back
  .circleci/config.yml
Due: none

list coverage folder
  .circleci/config.yml
Due: none

code coverage fix
  .circleci/config.yml
  coverageMerger.Dockerfile
Due: none

store coverage reports
  .circleci/config.yml
Due: none

using coverlet.msbuild 2.0.0 to fix coverage issue in integration tests
  .circleci/config.yml
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: tests, test

trying --roll-forward workaround for sonar
  .circleci/config.yml
Due: none

roll-forward set to Major
  .circleci/config.yml
Due: none

DeductSmsCreditsAsync method marked obsolete
  src/TestOkur.Notification/Infrastructure/Clients/IWebApiClient.cs
Due: app, production

student-question-analysis-report font-size reduced when there are more than 50 questions
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/student-question-analysis-report.html
Due: app, production

new hilo changes
  src/TestOkur.WebApi/Migrations/20191020162929_HiloChangesInNpgsql.Designer.cs
  src/TestOkur.WebApi/Migrations/20191020162929_HiloChangesInNpgsql.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

User Referrer logic impl
  src/TestOkur.Common/ErrorCodes.cs
  src/TestOkur.Contracts/User/INewUserRegistered.cs
  src/TestOkur.Contracts/User/IReferredUserActivated.cs
  src/TestOkur.Data/EntityConfigurations/User/UserEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/Name.cs
  src/TestOkur.Domain/Model/UserModel/User.cs
  src/TestOkur.Notification/Consumers/ReferredUserActivatedConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/Admin_New_User_Mail.html
  src/TestOkur.Notification/Templates/Referee_SmsCredits_Added_Sms.html
  src/TestOkur.Notification/Templates/Referrer_SmsCredits_Added_Sms.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.WebApi/Application/Localization/tr.json
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Events/NewUserRegistered.cs
  src/TestOkur.WebApi/Application/User/Events/ReferredUserActivated.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/UserReadModel.cs
  src/TestOkur.WebApi/Migrations/20191020164819_ReferrerAddedToUser.Designer.cs
  src/TestOkur.WebApi/Migrations/20191020164819_ReferrerAddedToUser.cs
  tests/TestOkur.Domain.Unit.Tests/UserTests.cs
Due: app, tests, production, test

Templates names and paths
  src/TestOkur.Notification/Infrastructure/EmailBuilder.cs
  src/TestOkur.Notification/Infrastructure/NotificationFacade.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Templates/Email/Admin_Daily_Report.html
  src/TestOkur.Notification/Templates/Email/Admin_New_User.html
  src/TestOkur.Notification/Templates/Email/Admin_SMS_Failure.html
  src/TestOkur.Notification/Templates/Email/LicenseExpirationNotice.html
  src/TestOkur.Notification/Templates/Email/NewErrorMessageReceived.html
  src/TestOkur.Notification/Templates/Email/UserSubscriptionExtended.html
  src/TestOkur.Notification/Templates/Email/User_MembershipActivation.html
  src/TestOkur.Notification/Templates/Email/User_New_User.html
  src/TestOkur.Notification/Templates/Email/User_ResetPassword.html
  src/TestOkur.Notification/Templates/Email/User_SMSOrder.html
  src/TestOkur.Notification/Templates/Sms/LicenseExpirationNotice.html
  src/TestOkur.Notification/Templates/Sms/Referee_SmsCredits_Added.html
  src/TestOkur.Notification/Templates/Sms/Referrer_SmsCredits_Added.html
  src/TestOkur.Notification/Templates/Sms/UserSubscriptionExtended.html
  src/TestOkur.Notification/Templates/Sms/User_MembershipActivation.html
  src/TestOkur.Notification/Templates/Sms/User_New_User.html
  src/TestOkur.Notification/Templates/Sms/User_SMSOrder.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

minor code-cleanup
  src/TestOkur.Notification/Infrastructure/NotificationFacade.cs
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
Due: app, production

Distributor policy/role added
  src/TestOkur.Common/AuthorizationPolicies.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

ReferrerGainedSmsCredits set to 1000
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
Due: app, production

Promotion e-mails added
  src/TestOkur.Notification/Consumers/ReferredUserActivatedConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Templates/Email/Referee_SmsCredits_Added.html
  src/TestOkur.Notification/Templates/Email/Referrer_SmsCredits_Added.html
Due: app, production

Update SMS status if sending SMS fails
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Models/Sms.cs
Due: app, production

copy all templates to the output
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production
