Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

emailbuilder test
  src/TestOkur.Report/Startup.cs
  tests/TestOkur.Notification.Unit.Tests/Infrastructure/EmailBuilderShould.cs
  tests/TestOkur.Notification.Unit.Tests/Templates/Email/dummy.html
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
Due: app, tests, production, test

Dont send email for failed smses , just log them.
  src/TestOkur.Notification/Consumers/SendSmsRequestFailedConsumer.cs
Due: app, production

minor cleanup
  src/TestOkur.Notification/Consumers/SendSmsRequestFailedConsumer.cs
Due: app, production

Some refactoring
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Domain/Model/LessonModel/Unit.cs
  src/TestOkur.Notification/Controllers/SmsController.cs
  src/TestOkur.Notification/Extensions/IHttpContextAccessorExtensions.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Extensions/IHttpContextAccessorExtensions.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Extensions/FluentMapConfigurationExtensions.cs
  src/TestOkur.WebApi/Infrastructure/UserIdProvider.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

Failing test fixed
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommandHandler.cs
Due: app, production

Optimizations
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Controllers/SmsController.cs
  src/TestOkur.Notification/Infrastructure/TemplateService.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

Code cleanup
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
Due: app, production

use ReadAllTExt again till it's fixed
  src/TestOkur.Notification/Infrastructure/TemplateService.cs
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
Due: app, production

async readalltext
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Infrastructure/TemplateService.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

ResponseCaching for some actions
  src/TestOkur.Sabit/Application/City/CitiesController.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeController.cs
  src/TestOkur.Sabit/Application/Localization/LocalizationController.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsController.cs
Due: app, production

Bugfix : JoinSets
  src/TestOkur.Report/Domain/Evaluator.cs
  tests/TestOkur.Report.Unit.Tests/EvaluatorTests.cs
Due: app, tests, production, test

Nuget update
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Nuget update
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: tests, test

Individual licenses max student count adjusted to 250
  src/TestOkur.Sabit/Data/license-types.json
Due: app, production

MaxAllowedStudent adjusted
  src/TestOkur.Sabit/Data/license-types.json
Due: app, production

Serializer project added
  TestOkur.WebApi.sln
  src/TestOkur.Common/DefaultJsonSerializerSettings.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Sabit/Application/City/CityQueryHandler.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeQueryHandler.cs
  src/TestOkur.Sabit/Application/Localization/LocalStringQueryHandler.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.Sabit/Utils/JsonUtils.cs
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.Serializer/TestOkur.Serializer.csproj
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Some minor optimizations
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserOnlineStatusCommandHandler.cs
Due: app, production

Optimizations
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Sabit/Application/City/CitiesController.cs
  src/TestOkur.Sabit/Application/City/CityQuery.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeController.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeQuery.cs
  src/TestOkur.Sabit/Application/Localization/LocalStringQuery.cs
  src/TestOkur.Sabit/Application/Localization/LocalizationController.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Exam/ExamTypeController.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQuery.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQueryHandler.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetAllExamIdsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedLessonQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedUnitsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQuery.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsController.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsController.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserQueryHandler.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

ICommandQueryLogger refactored
  src/TestOkur.Common/Helpers/AsyncHelper.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Sabit/Infrastructure/StubCommandQueryLogger.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetAllExamIdsQuery.cs
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

using spanjson across the solution
  src/TestOkur.Serializer/JsonUtils.cs
Due: app, production

Some bugfix, i guess
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
Due: app, production

Fixed something i guess
  src/TestOkur.Serializer/JsonUtils.cs
Due: app, production

Http Compression added
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

DeserializerFromHttpContentAsyncWithOriginalCaseResolver impl
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
Due: app, production

Bugfix : Json issues
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.Serializer/ObjectExtensions.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Sabit.Integration.Tests/ErrorControllerTests.cs
Due: app, tests, production, test

Custom Api Resolver
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Serializer/ApiResolver.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Custom Json Resolver
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.Serializer/ObjectExtensions.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/GetTests.cs
Due: app, tests, production, test

Performance improvements
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Infrastructure/UserIdProvider.cs
Due: app, production

Refactoring
  src/TestOkur.Common/Collections/EasyDictionary.cs
  src/TestOkur.Common/Extensions/EnumerableExtensions.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Infrastructure/UserIdProvider.cs
Due: app, production

Refactor
  src/TestOkur.Sabit/Application/City/CityQuery.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeQuery.cs
  src/TestOkur.Sabit/Application/Localization/LocalStringQuery.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQuery.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetAllExamIdsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedLessonQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedUnitsQuery.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQuery.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQuery.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQuery.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

Missing UserSmsModel ctor added
  src/TestOkur.Notification/Models/UserSmsModel.cs
Due: app, production

Idempotent attribute removed from session command handlers
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.WebApi/Application/Scan/EndScanSessionCommandHandler.cs
  src/TestOkur.WebApi/Application/Scan/StartScanSessionCommandHandler.cs
Due: app, production

todo
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
  src/TestOkur.WebApi/Application/Scan/EndScanSessionCommandHandler.cs
Due: app, production

GetStatisticsAsync performance improvements
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
Due: app, production

Nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

Performance optimizations
  src/TestOkur.Notification/Infrastructure/Clients/IWebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Models/AppSettingReadModel.cs
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
  src/TestOkur.Serializer/JsonUtils.cs
  src/TestOkur.WebApi/Application/User/Commands/DeleteUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserByIdQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserByIdQueryHandler.cs
Due: app, production

Some comments
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
Due: app, production

Seq integration
  src/TestOkur.Notification/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Configuration/ReportConfiguration.cs
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/User/Commands/DeleteUserCommandHandler.cs
  src/TestOkur.WebApi/Configuration/ApplicationConfiguration.cs
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Failing tests fixed
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.Sabit/appsettings.json
  src/TestOkur.WebApi/appsettings.Development.json
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
