Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Daily report detailed identity stats added
  src/TestOkur.Notification/Infrastructure/Clients/IOAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Models/IdentityStatisticsModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

Leveraging ApiControllerAttribute
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Controllers/ReportRequestController.cs
  src/TestOkur.WebApi/Application/Classroom/ClassroomController.cs
  src/TestOkur.WebApi/Application/Contact/ContactController.cs
  src/TestOkur.WebApi/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
  src/TestOkur.WebApi/Application/Scan/ScanController.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Application/Sms/SmsController.cs
  src/TestOkur.WebApi/Application/Student/StudentController.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

cache key and tests
  .circleci/config.yml
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
  src/TestOkur.WebApi/Configuration/ApplicationConfiguration.cs
  src/TestOkur.WebApi/appsettings.Development.json
  tests/TestOkur.WebApi.Integration.Tests/CacheControllerTests.cs
Due: app, tests, production, test

Failing tests fixed
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
Due: app, production

Email Endpoint added for admin portal
  src/TestOkur.Notification/Controllers/EmailController.cs
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/IEMailRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/OpticalFormRepository.cs
Due: app, production

template format fixed
  src/TestOkur.Notification/Templates/Admin_Daily_Report.html
Due: app, production

Cors enabled on notification api
  src/TestOkur.Notification/Startup.cs
Due: app, production

Missing policy added
  src/TestOkur.Notification/Startup.cs
Due: app, production

shared exams should be displayed after user exams
  src/TestOkur.WebApi/Application/Exam/Queries/GetUserExamsQueryHandler.cs
Due: app, production

admin policy fixed
  src/TestOkur.Notification/Startup.cs
Due: app, production

src related changes
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

sort emails desc by sent on date/time
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
Due: app, production

redundant elements removed from csproj files
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

minor code cleanup
  src/TestOkur.WebApi/Application/Student/CreateStudentCommandHandler.cs
Due: app, production

use alpine sdk for coverage merging
  coverageMerger.Dockerfile
Due: none

Using jsons instead of excels to reduce third party redundancy
  src/TestOkur.Domain/Model/CityModel/City.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQueryHandler.cs
  src/TestOkur.WebApi/Application/Localization/tr.json
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
  src/TestOkur.WebApi/Data/CitySeeder.cs
  src/TestOkur.WebApi/Data/cities-districts.xlsx
  src/TestOkur.WebApi/Data/cities.json
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

Nuget update : Mongodb.Healthcheck
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
Due: app, production

CacheManager added to report api
  docker-compose.tests.yml
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/appsettings.Development.json
Due: app, production

OpticalFormRepository refactored into StudentOpticalFormRepository and AnswerKeyOpticalFormRepository
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Report/Consumers/ClassroomDeletedConsumer.cs
  src/TestOkur.Report/Consumers/ClassroomUpdatedConsumer.cs
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Consumers/ExamCreatedConsumer.cs
  src/TestOkur.Report/Consumers/ExamDeletedConsumer.cs
  src/TestOkur.Report/Consumers/ExamUpdatedConsumer.cs
  src/TestOkur.Report/Consumers/LessonNameChangedConsumer.cs
  src/TestOkur.Report/Consumers/StudentDeletedConsumer.cs
  src/TestOkur.Report/Consumers/StudentUpdatedConsumer.cs
  src/TestOkur.Report/Consumers/SubjectChangedConsumer.cs
  src/TestOkur.Report/Controllers/EvaluateController.cs
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IAnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/IStudentOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/SchoolResultRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQueryHandler.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ConsumerTest.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/LessonNameChangedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/StudentDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/StudentUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/SubjectChangedConsumerShould.cs
  tests/TestOkur.WebApi.Integration.Tests/CacheControllerTests.cs
Due: app, tests, production, test

skip installing drawing packages when building webapi container for production
  docker-compose.tests.yml
  src/TestOkur.WebApi/Dockerfile
Due: app, production

HealthCheck added for http clients and webapi prod container memory increased from 256 to 512 MB
  deploy/webapi-prod.sh
  mockserver/mocks/scenarios.json
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.WebApi/Application/City/GetAllCitiesQueryHandler.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

<MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish> property added back
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

need 2 container on prod for webapi service
  deploy/webapi-prod.sh
Due: none

minor fix in prod deployment script
  deploy/webapi-prod.sh
Due: none

redundant package removed
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
Due: tests, test

Leverage WebApplicationFactory in integration testing
  src/TestOkur.Notification/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Notification.Integration.Tests/Common/TestServerFactory.cs
  tests/TestOkur.Notification.Integration.Tests/Common/TestStartup.cs
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
Due: app, tests, production, test

Base class should be abstract
  src/TestOkur.Contracts/IntegrationEvent.cs
Due: app, production

IEventSuccessfullyExecutedAckEvent interface and class for keeping track of event status
  src/TestOkur.Contracts/App/EventSuccessfullyExecutedAckEvent.cs
  src/TestOkur.Contracts/App/IEventSuccessfullyExecutedAckEvent.cs
Due: app, production

Rework : Online Users
  src/TestOkur.WebApi/Application/User/OnlineUserTracker.cs
  src/TestOkur.WebApi/Application/User/OnlineUserTrackerCleanupService.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Online users now moved to cache manager
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserOnlineStatusCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserOnlineStatusCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQuery.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
Due: app, production

UrlGroup disabled
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Shared Subjects added
  deploy/webapi-prod.sh
  src/TestOkur.Common/ErrorCodes.cs
  src/TestOkur.Domain/Model/LessonModel/Lessons.cs
  src/TestOkur.Domain/Model/Name.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/AddSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/DeleteSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/DeleteUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
  src/TestOkur.WebApi/Data/CitySeeder.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/LessonSeeder.cs
  src/TestOkur.WebApi/Data/SubjectSeeder.cs
  src/TestOkur.WebApi/Data/shared-subjects.json
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.WebApi.Integration.Tests/Lesson/Unit/GetTests.cs
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

Failing tests fixed
  tests/TestOkur.WebApi.Integration.Tests/Lesson/Unit/DeleteTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Lesson/Unit/UnitTest.cs
Due: tests, test

Failing tests fixed
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenNameValidator.cs
Due: tests, test

Shared unit query separated
  src/TestOkur.WebApi/Application/Lesson/Commands/AddSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedUnitsQuery.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedUnitsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetUserUnitsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
Due: app, production

minor fixes
  src/TestOkur.WebApi/Data/LessonSeeder.cs
  src/TestOkur.WebApi/Data/SubjectSeeder.cs
Due: app, production

missing local strings added
  src/TestOkur.WebApi/Application/Localization/tr.json
Due: app, production

using WithGzJsonSerializer instead of Json
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

QueryLogging removed
  src/TestOkur.WebApi/Application/City/GetAllCitiesQueryHandler.cs
  src/TestOkur.WebApi/Application/Classroom/ClassroomController.cs
  src/TestOkur.WebApi/Application/Classroom/GetUserClassroomsQueryHandler.cs
  src/TestOkur.WebApi/Application/Contact/ContactController.cs
  src/TestOkur.WebApi/Application/Contact/DeleteContactCommandHandler.cs
  src/TestOkur.WebApi/Application/Contact/GetUserContactsQueryHandler.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQueryHandler.cs
  src/TestOkur.WebApi/Application/Exam/Queries/GetUserExamsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/AddSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/DeleteSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedLessonQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetSharedUnitsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetUserLessonsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Queries/GetUserUnitsQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQueryHandler.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
  src/TestOkur.WebApi/Application/Scan/EndScanSessionCommandHandler.cs
  src/TestOkur.WebApi/Application/Scan/ScanController.cs
  src/TestOkur.WebApi/Application/Scan/StartScanSessionCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/CloneScoreFormulaCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/DeleteUserScoreFormulasCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/GetUserScoreFormulasQueryHandler.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Application/Settings/GetAllAppSettingsQueryHandler.cs
  src/TestOkur.WebApi/Application/Sms/SmsController.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/DeleteStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/StudentController.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetOnlineUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserByEmailQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserRecordCountsQueryHandler.cs
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

redundant file removed
  src/TestOkur.WebApi/Application/User/OnlineUserTracker.cs
Due: app, production
