Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Nuget update
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: tests, test

Minor refactoring
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Sabit/Extensions/FormFileExtensions.cs
Due: app, production

Re-try if bulk insert fails
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
Due: app, production

Annotation for RabbitMqConfiguration
  src/TestOkur.Common/Configuration/RabbitMqConfiguration.cs
Due: app, production

sentry config removed
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.Report/appsettings.json
  src/TestOkur.WebApi/appsettings.json
Due: app, production

ApplicationName added to seq logs
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

some serilog stuff
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

todo comment
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

Whoopsie
  src/TestOkur.WebApi/Startup.cs
Due: app, production

sms balance fix
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
Due: app, production

Deterministic hash added
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
  src/TestOkur.Report/Extensions/StringExtensions.cs
Due: app, production

Remove redundant stuff
  TestOkur.WebApi.sln
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.WebApi/Application/Scan/StartScanSessionCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/LessonNameChangedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Sabit.Integration.Tests/WebApplicationFactory.cs
Due: app, tests, production, test

nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

..
  README.md
Due: none

Bugfix : Key not found
  src/TestOkur.Report/Domain/SchoolResult.cs
Due: app, production

CreatedOn added to exam statistics
  src/TestOkur.Report/Domain/Statistics/ExamStatistics.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
Due: app, production

BackUp deleted forms
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/TestOkurContext.cs
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
Due: app, production

how's that happened?
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
Due: app, production

fix backup forms
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

nuget update
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Log commands and queries to seq instead of mongodb
  src/TestOkur.Notification/Consumers/CommandQueryLogEventConsumer.cs
  src/TestOkur.Notification/Infrastructure/Data/TestOkurContext.cs
Due: app, production

parameterleess ctor added to CommandQueryLog
  src/TestOkur.Notification/Models/CommandQueryLog.cs
Due: app, production

command query logging reworked.
  src/TestOkur.Contracts/App/ICommandQueryLogEvent.cs
  src/TestOkur.Notification/Consumers/CommandQueryLogEventConsumer.cs
  src/TestOkur.Notification/Models/CommandQueryLog.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Domain/Statistics/StatisticsCalculator.cs
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogEvent.cs
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
Due: app, production

logger fixed
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
Due: app, production

Set minimum log level to information
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

LogLevel fixed
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

Add user id to command logs
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
Due: app, production

Shared exams are now part of the statistics
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsReadModel.cs
Due: app, production

Adding shared exam attendance to the daily report
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/Clients/ExamStatistics.cs
  src/TestOkur.Notification/Infrastructure/Clients/IReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Models/ExamReadModel.cs
  src/TestOkur.Notification/Models/StatisticsReadModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportModel.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/Templates/Email/Admin_Daily_Report.html
  src/TestOkur.WebApi/Infrastructure/CommandQueryLogger.cs
Due: app, production

Authorize API to customer endpoints as well
  src/TestOkur.Report/Startup.cs
Due: app, production

Endpoint for sms logs
  src/TestOkur.Notification/Controllers/SmsController.cs
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
Due: app, production

missing ObjectId added
  src/TestOkur.Notification/Dtos/SmsLog.cs
Due: app, production

Default ctor for smslog
  src/TestOkur.Notification/Dtos/SmsLog.cs
Due: app, production

nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Breaking change from masstransit fixed
  src/TestOkur.Notification/Dtos/SmsLog.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

Issues with new Masstransit version fixed
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Sabit/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/DeleteExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditSubjectCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/AddSmsCreditsCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsAdminCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/DeleteStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/SendResetPasswordLinkCommandHandler.cs
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
Due: app, tests, production, test

Badges updated
  README.md
Due: none

Nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Dtos/SmsLog.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production
