Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

class-comparison-report template added
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
Due: app, production

Prometheus endpoint added for runtime metrics
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

prometheus endpoint renamed
  src/TestOkur.WebApi/Program.cs
Due: app, production

Prometheus endpoint fixed
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.WebApi.Integration.Tests/PrometheusTests.cs
Due: app, tests, production, test

Integration test renamed
  tests/TestOkur.WebApi.Integration.Tests/PrometheusTests.cs
Due: tests, test

Prometheus integration for report api
  src/TestOkur.Report/Program.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
Due: app, production

HttpMetrics for prometheus added
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

some env variables extracted
  src/TestOkur.Report/appsettings.json
  src/TestOkur.Report/appsettings.qa.json
  src/TestOkur.WebApi/appsettings.json
  src/TestOkur.WebApi/appsettings.prod.json
  src/TestOkur.WebApi/appsettings.qa.json
Due: app, production

Score coefficients fixed
  src/TestOkur.WebApi/Data/ScoreFormulaSeeder.cs
Due: app, production

ExamScoreFormula deleted. Moved to AnswerkeyOpticalForm
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Data/EntityConfigurations/Score/ExamScoreFormulaEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/ScoreModel/ExamScoreFormula.cs
  src/TestOkur.WebApi/Application/Score/GetUserScoreFormulasQueryHandler.cs
  src/TestOkur.WebApi/Application/Score/SaveExamScoreFormulaCommand.cs
  src/TestOkur.WebApi/Application/Score/SaveExamScoreFormulaCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Migrations/20190809101840_ExamScoreFormulaDeleted.Designer.cs
  src/TestOkur.WebApi/Migrations/20190809101840_ExamScoreFormulaDeleted.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/EditTests.cs
Due: app, tests, production, test

Score Formula read models moved from domain to app layer
  src/TestOkur.WebApi/Application/Score/LessonCoefficientReadModel.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaReadModel.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/ScoreTest.cs
Due: app, tests, production, test

Logging level for EvaluateExamConsumer changed
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/appsettings.qa.json
  src/TestOkur.WebApi/appsettings.qa.json
Due: app, production

DefaultFaultConsumer to handle all consumer faults
  src/TestOkur.Report/Consumers/DefaultFaultConsumer.cs
  src/TestOkur.Report/Consumers/EvaluateExamFaultConsumer.cs
  src/TestOkur.Report/Extensions/DependencyInjectionReceiveEndpointExtensions.cs
Due: app, production

env files separated
  deploy-notification-qa.sh
  deploy-report-qa.sh
  deploy-webapi-qa.sh
Due: none

settings file shortened
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.Notification/appsettings.qa.json
Due: app, production

Nuget Update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Nuget Update : Optic lib
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

Bugfix : Npgsql.PostgresException 23505 on student update
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/EditTests.cs
Due: app, tests, production, test

Sms domain reworked
  src/TestOkur.Contracts/Sms/ISmsMessage.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Models/Sms.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsAdminCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommand.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/SmsMessage.cs
  src/TestOkur.WebApi/Application/Sms/SmsMessageModel.cs
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
Due: app, tests, production, test

Form evaluation domain moved this repo together with unit tests
  .circleci/config.yml
  TestOkur.WebApi.sln
  docker-compose.tests.yml
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Report/Domain/AverageList.cs
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/StudentOrderList.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Unit.Tests/AverageListTests.cs
  tests/TestOkur.Report.Unit.Tests/EvaluatorTests.cs
  tests/TestOkur.Report.Unit.Tests/StudentOrderListTests.cs
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

deployment script reworked
  deploy-prod.sh
  deploy-report-qa.sh
  deploy-webapi-qa.sh
Due: none

Sonar organization parameter fixed
  .circleci/config.yml
Due: none

enable server garbage collection
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

% symbol added for percent
  src/TestOkur.Report/wwwroot/Templates/class-comparison-report.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.Report/wwwroot/Templates/student-report.html
Due: app, production

Returned HttpCode for queued tasks changed from OK(200) to Accepted(202)
  src/TestOkur.WebApi/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Application/Sms/SmsController.cs
Due: app, production

Users can upload up to 3 images.
  src/TestOkur.Contracts/Alert/IUserErrorReceived.cs
  src/TestOkur.Notification/Templates/NewErrorMessageReceived.html
  src/TestOkur.WebApi/Application/Error/ErrorModel.cs
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
Due: app, tests, production, test

Nuget update + student exam report template bugfix: displaying question no
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

Failing tests fixed
  src/TestOkur.WebApi/Data/SettingsSeeder.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/DeleteTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/OpticalFormTest.cs
  tests/TestOkur.Report.Unit.Tests/AverageListTests.cs
  tests/TestOkur.Report.Unit.Tests/StudentOrderListTests.cs
Due: app, tests, production, test

Controller replaced with ControllerBase.Localization contoller impl + tests
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Cache/CacheController.cs
  src/TestOkur.WebApi/Application/Captcha/CaptchaController.cs
  src/TestOkur.WebApi/Application/City/CitiesController.cs
  src/TestOkur.WebApi/Application/Classroom/ClassroomController.cs
  src/TestOkur.WebApi/Application/Contact/ContactController.cs
  src/TestOkur.WebApi/Application/Error/ErrorController.cs
  src/TestOkur.WebApi/Application/Exam/ExamController.cs
  src/TestOkur.WebApi/Application/Exam/ExamTypeController.cs
  src/TestOkur.WebApi/Application/Lesson/LessonController.cs
  src/TestOkur.WebApi/Application/Lesson/UnitController.cs
  src/TestOkur.WebApi/Application/LicenseType/LicenseTypesController.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQuery.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQueryHandler.cs
  src/TestOkur.WebApi/Application/Localization/LocalString.cs
  src/TestOkur.WebApi/Application/Localization/LocalizationController.cs
  src/TestOkur.WebApi/Application/Localization/tr.xlsx
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsController.cs
  src/TestOkur.WebApi/Application/Scan/ScanController.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  src/TestOkur.WebApi/Application/Settings/SettingsController.cs
  src/TestOkur.WebApi/Application/Sms/SmsController.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsController.cs
  src/TestOkur.WebApi/Application/Student/StudentController.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
  src/TestOkur.WebApi/Data/SettingsSeeder.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/LocalizationApiTests.cs
Due: app, tests, production, test

Adding ExamTypeName to ExamCreated event. + Updating coefficients
  src/TestOkur.Contracts/Exam/IExamCreated.cs
  src/TestOkur.Report/Consumers/ExamCreatedConsumer.cs
  src/TestOkur.WebApi/Application/Exam/Commands/ExamCreated.cs
  src/TestOkur.WebApi/Data/ScoreFormulaSeeder.cs
Due: app, production

Add files via upload
  src/TestOkur.WebApi/wwwroot/OpticalForms/HighSchool/AYT-1.jpg
  src/TestOkur.WebApi/wwwroot/OpticalForms/HighSchool/AYT-2.jpg
  src/TestOkur.WebApi/wwwroot/OpticalForms/HighSchool/ayt-dil.jpg
Due: app, production

Minor cleanup
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
Due: app, production

Failing tests fixed
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/ScoreTest.cs
Due: app, tests, production, test

Nuget Update : TestOkur.Optic package
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

Answerkey report template added
  src/TestOkur.Report/wwwroot/Templates/answerkey-report.html
Due: app, production

Answer Key report template minor fix
  src/TestOkur.Report/wwwroot/Templates/answerkey-report.html
Due: app, production

Nuget update Disable request+response logging for report api. Bugfix: When create order by score, use upper case of score name
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
Due: app, tests, production, test

Faulty test rolled back
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
Due: tests, test

Bugfix : Wrong optic config file fixed
  src/TestOkur.WebApi/Application/Exam/Commands/ExamCreated.cs
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
Due: app, production
