Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Failing integration test fixed
  docker-compose.tests.yml
  src/TestOkur.Report/Extensions/DependencyInjectionReceiveEndpointExtensions.cs
  src/TestOkur.Report/Startup.cs
  tests/TestOkur.Report.Integration.Tests/Common/TestStartup.cs
Due: app, tests, production, test

Missing docker-compose install added to code-coverage step
  .circleci/config.yml
  TestOkur.WebApi.sln
Due: none

notification and report integration tests merged
  .circleci/config.yml
Due: none

failing CI fixed
  .circleci/config.yml
Due: none

CI script fix
  .circleci/config.yml
Due: none

docker-compose file version upgrade
  docker-compose.tests.yml
Due: none

coverage path fixed
  .circleci/config.yml
  docker-compose.tests.yml
Due: none

circleci pathing issue
  .circleci/config.yml
Due: none

circlec config workspace path issue
  .circleci/config.yml
Due: none

store_test_results
  .circleci/config.yml
Due: none

create coverage folder
  .circleci/config.yml
Due: none

persist test results
  .circleci/config.yml
Due: none

list files
  .circleci/config.yml
Due: none

path issues
  .circleci/config.yml
  docker-compose.tests.yml
Due: none

path issue
  .circleci/config.yml
Due: none

pathing issues
  .circleci/config.yml
Due: none

pathing issue
  .circleci/config.yml
Due: none

codecov path fixed
  .circleci/config.yml
Due: none

CI script fixed
  .circleci/config.yml
Due: none

prod steps added to CI
  .circleci/config.yml
  deploy/retry.sh
Due: none

repeating step removed from CI
  .circleci/config.yml
Due: none

move .netcore environment to env file
  deploy/notification-prod.sh
  deploy/report-prod.sh
  deploy/webapi-prod.sh
Due: none

setting tags for some steps
  .circleci/config.yml
Due: none

prod config
  src/TestOkur.Notification/appsettings.prod.json
  src/TestOkur.Notification/appsettings.qa.json
  src/TestOkur.Report/appsettings.prod.json
Due: app, production

execute right for reset script
  .circleci/config.yml
Due: none

some missing prod config added
  deploy/webapi-prod.sh
  src/TestOkur.WebApi/appsettings.prod.json
Due: app, production

Do not execute tasks on prod environment.
  TestOkur.WebApi.sln
  src/TestOkur.Notification/Extensions/IHostingEnvironmentExtensions.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
Due: app, production

LicenseType rework
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Data/EntityConfigurations/User/LicenseTypeEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/UserModel/LicenseType.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
  src/TestOkur.WebApi/Application/LicenseType/GetAllLicenseTypesQuery.cs
  src/TestOkur.WebApi/Application/LicenseType/GetAllLicenseTypesQueryHandler.cs
  src/TestOkur.WebApi/Application/LicenseType/LicenseTypeReadModel.cs
  src/TestOkur.WebApi/Application/LicenseType/LicenseTypesController.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Data/LicenseTypeSeeder.cs
  src/TestOkur.WebApi/Migrations/20190825141827_LicenseTypeRemoved.Designer.cs
  src/TestOkur.WebApi/Migrations/20190825141827_LicenseTypeRemoved.cs
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
Due: app, tests, production, test

chmod typo fix
  .circleci/config.yml
Due: none

Notes added to user read model
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/UserReadModel.cs
Due: app, production

should retry more times
  deploy/retry.sh
Due: none

force to remove container
  deploy/notification-prod.sh
  deploy/notification-qa.sh
  deploy/report-prod.sh
  deploy/report-qa.sh
  deploy/webapi-prod.sh
  deploy/webapi-qa.sh
Due: none

SmsCreditAdded event impl. Logging level set for Notification prod and qa env.
  src/TestOkur.Contracts/Account/ISmsCreditAdded.cs
  src/TestOkur.Contracts/Sms/ISmsCreditAdded.cs
  src/TestOkur.Notification/Consumers/SmsCreditAddedConsumer.cs
  src/TestOkur.Notification/ScheduledTasks/SendLicenseExpirationNotice.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/Templates/User_SMSOrder_Mail.html
  src/TestOkur.Notification/Templates/User_SMSOrder_SMS.html
  src/TestOkur.Notification/appsettings.prod.json
  src/TestOkur.Notification/appsettings.qa.json
  src/TestOkur.WebApi/Application/Sms/Commands/AddSmsCreditsCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SmsCreditAdded.cs
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Consumer.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/AddCreditsTests.cs
Due: app, tests, production, test

Activation templates fixed
  src/TestOkur.Notification/Templates/User_MembershipActivation_Mail.html
  src/TestOkur.Notification/Templates/User_MembershipActivation_SMS.html
Due: app, production

Bugfix: Email-phone swap
  src/TestOkur.Notification/Consumers/SmsCreditAddedConsumer.cs
Due: app, production

Hangfire loglevel changed to warning
  src/TestOkur.Notification/appsettings.json
Due: app, production

SMS templates : put a whitespace before dot
  src/TestOkur.Notification/Templates/User_MembershipActivation_SMS.html
  src/TestOkur.Notification/Templates/User_SMSOrder_SMS.html
Due: app, production
