Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

question-analysis-report chart shifting issue fixed
  src/TestOkur.Report/wwwroot/Templates/question-analysis-report.html
Due: app, production

Minor bug fixes. and unit test for SchoolOrderList
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/SchoolResult.cs
  src/TestOkur.Report/Infrastructure/IEvaluator.cs
  src/TestOkur.Report/wwwroot/Templates/school-exam-result-list.html
  tests/TestOkur.Report.Unit.Tests/SchoolOrderListTests.cs
Due: app, tests, production, test

Missplaced code file moved back
  src/TestOkur.Report/Domain/IEvaluator.cs
Due: app, production

SchoolResult detailed section evaluation
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/SchoolResult.cs
  src/TestOkur.Report/Domain/SchoolResultSection.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
Due: app, production

BugFix : Make sure all SchoolResult contains covered lesson sections in the exam
  src/TestOkur.Report/Domain/Evaluator.cs
  src/TestOkur.Report/Domain/SchoolResult.cs
Due: app, production

Minor bugfix : Copy index to a temp var.
  .circleci/config.yml
  src/TestOkur.Report/Domain/Evaluator.cs
Due: app, production

Approval removed
  .circleci/config.yml
Due: none

school exam report template decimal formatting fixed
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
Due: app, production

school exam report template minor fix
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
Due: app, production

school-exam-report chart height fixed
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
Due: app, production

school-exam-report.html minor fix
  src/TestOkur.Report/wwwroot/Templates/school-exam-report.html
Due: app, production

student question analysis report template added
  src/TestOkur.Report/wwwroot/Templates/student-question-analysis-report.html
Due: app, production

BugFix : Wrong assignment of average nets fixed
  src/TestOkur.Report/Domain/AverageList.cs
  src/TestOkur.Report/Domain/SchoolResult.cs
Due: app, production

page break added to the report after each section
  src/TestOkur.Report/wwwroot/Templates/student-question-analysis-report.html
Due: app, production

Bearer token should be set before sending re-evaluate request
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
Due: app, production

better dont store token
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
Due: app, production

Migrating to netcore 3.0 some failing tests fixed
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Infrastructure/HeaderTelemetryInitializer.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/Common/TestServerFactory.cs
  tests/TestOkur.Report.Integration.Tests/Common/TestStartup.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/Common/TestServerFactory.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/TestStartup.cs
Due: app, tests, production, test

Idempotent attributed caching fixed
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Student exam report graphic bar height workaround
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

static-code-analysis step temporarily disabled
  .circleci/config.yml
Due: none

static code analysis step temporarily disabled
  .circleci/config.yml
Due: none

CaptchaService log fonts
  .circleci/config.yml
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
Due: app, production

CaptchaService font issue fixed
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
Due: app, production

Captcha font change
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
Due: app, production

Captcha change of fonts
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Dockerfile
Due: app, production

captcha and ci changes redo
  .circleci/config.yml
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Dockerfile
Due: app, production

dotnet sonar image tag set
  .circleci/config.yml
Due: none

sonar scan is disabled until it is ready for .netcore 3.0
  .circleci/config.yml
Due: none

captcha moved to another container and mocked in webapi
  .circleci/config.yml
  mockserver/mocks/captcha.js
  mockserver/mocks/captcha.png
  mockserver/mocks/scenarios.json
  src/TestOkur.WebApi/Application/Captcha/CaptchaController.cs
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Application/Captcha/ICaptchaService.cs
  src/TestOkur.WebApi/Dockerfile
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/appsettings.Development.json
Due: app, production

failing integration tests fixed
  docker-compose.tests.yml
Due: none

Failing tests fixed
  deploy/webapi-qa.sh
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Bugfix : Id assignment moved to custom const
  src/TestOkur.Report/Domain/SchoolResult.cs
Due: app, production

Bugfix : First delete schoolresults then insert new ones
  src/TestOkur.Report/Domain/SchoolResult.cs
  src/TestOkur.Report/Infrastructure/Repositories/SchoolResultRepository.cs
Due: app, production

Email template fixed
  src/TestOkur.Notification/Templates/User_MembershipActivation_Mail.html
Due: app, production

Send user password to user upon registration
  src/TestOkur.Contracts/User/INewUserRegistered.cs
  src/TestOkur.Notification/Consumers/NewUserRegisteredConsumer.cs
  src/TestOkur.Notification/Models/Template.cs
  src/TestOkur.Notification/Templates/Admin_New_User_Mail.html
  src/TestOkur.Notification/Templates/User_New_User_Mail.html
  src/TestOkur.Notification/Templates/User_New_User_SMS.html
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Events/NewUserRegistered.cs
Due: app, production

SMS template fixed
  src/TestOkur.Notification/Templates/User_New_User_SMS.html
Due: app, production

reports with big fonts re-scaled
  src/TestOkur.Report/wwwroot/Templates/school-exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

missing UseAuthentication added
  src/TestOkur.Notification/Startup.cs
Due: app, production
