Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

StudentOpticalFormRepository logging
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

Logger added to query
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

VOCC-2 form added
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/wwwroot/OpticalForms/PrimarySchool/VOCC-2.jpg
  src/TestOkur.WebApi/wwwroot/OpticalForms/PrimarySchool/VOCC.jpg
Due: app, production

Minify temporarily disabled
  src/TestOkur.Report/Dockerfile
Due: app, production

UserId filter added to student optical form repository
  src/TestOkur.Report/Controllers/OpticalFormController.cs
  src/TestOkur.Report/Infrastructure/Repositories/IStudentOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
Due: app, production

Do not evaluate same exam concurrently
  deploy/report-prod.sh
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
Due: app, production

SpinWait.SpinUntil replaced with a while loop to avoid using too much CPU cycles
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
Due: app, production

adding tools to the images
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

general order added for shared exams
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

minor fix
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
Due: app, production

Migrating to .netcore 3.1
  Directory.Build.props
  src/TestOkur.Common/TestOkur.Common.csproj
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Domain/TestOkur.Domain.csproj
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/Directory.Build.props
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/ErrorControllerTests.cs
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Dockerfile image version fixed
  coverageMerger.Dockerfile
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

sonar temporarily disabled
  .circleci/config.yml
Due: none

Serilog added to webapi
  src/TestOkur.WebApi/Program.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Failing tests fixed
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Notification/appsettings.Development.json
Due: app, production

Hangfire.MemoryStorage removed
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

ITestOutputHelper added to HealthCheckTests
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
Due: tests, test

skip failing test
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
Due: tests, test

ApplicationInsights removed
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Allow user to save students with same student no in different school types
  src/TestOkur.Domain/Model/Grade.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Validators/GradeValidator.cs
Due: app, production

ITestOutputHelper added to HealthCheckEndpointShouldWork_WhenServerIsRunning
  tests/TestOkur.Report.Integration.Tests/HealthCheckTests.cs
Due: tests, test

[DisableRequestSizeLimit] added for upload
  src/TestOkur.Sabit/Application/Form/FormsController.cs
Due: app, production

ensure sabit client returns success
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
Due: app, production

nuget update
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Notification.Integration.Tests/HealthCheckTests.cs
Due: app, tests, production, test

Failing tests fixed
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

sonar removed
  .circleci/config.yml
  .sonarcloud.properties
Due: none

exclude html
  .sonarcloud.properties
Due: none

Send smses in parallel
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
Due: app, production

refactoring
  src/TestOkur.Notification/Consumers/CommandQueryLogEventConsumer.cs
  src/TestOkur.Notification/Consumers/ResetPasswordTokenGeneratedConsumer.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestFailedConsumer.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/HostedServices/BusService.cs
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Infrastructure/NotificationFacade.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/ScheduledTasks/ReEvaluateAllExams/ReEvaluateAllExamsTask.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/SmsResender.cs
  src/TestOkur.Report/BusService.cs
  src/TestOkur.Report/Consumers/ClassroomUpdatedConsumer.cs
  src/TestOkur.Report/Consumers/EvaluateExamConsumer.cs
  src/TestOkur.Report/Consumers/ExamCreatedConsumer.cs
  src/TestOkur.Report/Consumers/StudentUpdatedConsumer.cs
  src/TestOkur.Report/Infrastructure/Repositories/AnswerKeyOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/ReportRequestRepository.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.Report/Infrastructure/RequestResponseMongodbLogger.cs
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/DeleteExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditSubjectCommandHandler.cs
Due: app, production

skip minification
  src/TestOkur.Report/Dockerfile
Due: app, production

undo throttling
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/ScheduledTasks/SmsResender/SmsResender.cs
Due: app, production

DiagnosticController added
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Notification/Controllers/DiagnosticController.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.Report/Configuration/ReportConfiguration.cs
  src/TestOkur.Report/Controllers/DiagnosticController.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.Sabit/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

ApplicationConfiguration added to sabit
  src/TestOkur.Sabit/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.Sabit/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Sabit/Startup.cs
Due: app, production

add commit sha1 to env.
  .circleci/config.yml
  src/TestOkur.Notification/Controllers/DiagnosticController.cs
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Controllers/DiagnosticController.cs
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Application/Diagnostic/DiagnosticController.cs
  src/TestOkur.WebApi/Dockerfile
Due: app, production

echo CIRCLE_SHA1
  .circleci/config.yml
Due: none

build command fixed
  .circleci/config.yml
Due: none

move commit arg to the top
  .circleci/config.yml
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

echo commit
  src/TestOkur.Sabit/Dockerfile
Due: app, production

COMMIT ARG fixed
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
