Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

Failing test fixed
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
Due: tests, test

Redundant lesson removed
  src/TestOkur.Domain/Model/LessonModel/Lessons.cs
Due: app, production

badge urls updated
  README.md
Due: none

Delete user score formulas API
  src/TestOkur.WebApi/Application/Score/DeleteUserScoreFormulasCommand.cs
  src/TestOkur.WebApi/Application/Score/DeleteUserScoreFormulasCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaController.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/DeleteTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/GetTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Score/ScoreTest.cs
Due: app, tests, production, test

minor code-cleanup
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
Due: tests, test

Minor bugfix : Make sure common formulas won't be deleted
  src/TestOkur.WebApi/Application/Score/DeleteUserScoreFormulasCommandHandler.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
Due: app, tests, production, test

Rework : User seeder
  src/TestOkur.WebApi/Data/UserSeeder.cs
  src/TestOkur.WebApi/Data/Users.xlsx
Due: app, production

nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

mongo mapping for scores
  src/TestOkur.Report/Startup.cs
Due: app, production

Bugfix: Score name with dot causes mongodb throws exception
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
Due: app, tests, production, test

EvaluateExamConsumer test has been enhanced a bit.
  src/TestOkur.Report/Startup.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/OpticalFormTest.cs
Due: app, tests, production, test

Optic nuget update
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

Optic Package Nuget Update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

missing function added to template
  src/TestOkur.WebApi/wwwroot/Templates/student-exam-report.html
Due: app, production

template function error fix
  src/TestOkur.WebApi/wwwroot/Templates/student-exam-report.html
Due: app, production

templates moved from WebApi app to Report app
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/wwwroot/Templates/classroom-list.html
  src/TestOkur.Report/wwwroot/Templates/result-list.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

jsreport helper function separated from the template
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

Nuget Update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

Nuget update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

SendSmsRequestReceivedConsumer fixed
  src/TestOkur.Contracts/Sms/ISendSmsRequestFailed.cs
  src/TestOkur.Contracts/Sms/ISendSmsRequestReceived.cs
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Events/SendSmsRequestFailed.cs
  src/TestOkur.Notification/Templates/Admin_SMS_Failure_Mail.html
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsAdminCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/Commands/SendSmsCommandHandler.cs
  src/TestOkur.WebApi/Application/Sms/SendSmsRequestReceived.cs
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
  tests/TestOkur.WebApi.Integration.Tests/Contact/EditTests.cs
Due: app, tests, production, test

Missing Populate attribute added toDeductSmsCreditsCommandHandler
  src/TestOkur.WebApi/Application/Sms/Commands/DeductSmsCreditsCommandHandler.cs
Due: app, production

detailed error message
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
Due: app, production

DeductSmsCredit proerty name mismatch
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Models/DeductSmsCreditsModel.cs
  src/TestOkur.WebApi/Application/Sms/Commands/DeductSmsCreditsCommandHandler.cs
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
Due: app, tests, production, test

Users should be updated by admins.
  mockserver/mocks/scenarios.json
  src/TestOkur.Domain/Model/UserModel/User.cs
  src/TestOkur.WebApi/Application/Sms/Commands/DeductSmsCreditsCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Services/IIdentityService.cs
  src/TestOkur.WebApi/Application/User/Services/IdentityService.cs
  src/TestOkur.WebApi/Application/User/Services/UpdateUserModel.cs
  src/TestOkur.WebApi/Application/User/UserController.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
Due: app, tests, production, test

JwtValidation clockskew
  src/TestOkur.WebApi/Startup.cs
Due: app, production

DefaultIncorrectCorrectEliminationValue should be 3 for LGS exams
  src/TestOkur.WebApi/Data/ExamTypeSeeder.cs
Due: app, production

New optical form definition + Nuget Update
  src/TestOkur.Contracts/Sms/ISendSmsRequestReceived.cs
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormDefinitions.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormTypes.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/wwwroot/OpticalForms/PrimarySchool/src.jpg
  src/TestOkur.WebApi/wwwroot/yap/src.yap
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
Due: app, tests, production, test

BulkStudentCreate command, assigning all to students to same classroom bug fixed.
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
Due: app, production

Report rename
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Report/wwwroot/Templates/classroom-list.html
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

TestOkur.Optic Nuget update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
Due: app, tests, production, test

format helper functions added for exam result list report
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
  src/TestOkur.Report/wwwroot/Templates/helpers.js
Due: app, production

exam result list report template updated : average and success rows added
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

missing % added
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

ClockSkew added for report api
  src/TestOkur.Report/Startup.cs
Due: app, production

student exam report decimal places format fixed
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

exam result list report : some of the column headers rotated 90 degree for optimal report output
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

Undo 90 degree header rotation of name-surname and student no columns
  src/TestOkur.Report/wwwroot/Templates/exam-result-list.html
Due: app, production

Form orders fixed
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
  src/TestOkur.WebApi/Data/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Migrations/20190726103323_ListOrderAddedToOpticalFormDefinitions.Designer.cs
  src/TestOkur.WebApi/Migrations/20190726103323_ListOrderAddedToOpticalFormDefinitions.cs
Due: app, production

sentry log level changed from warning to error
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.Report/appsettings.json
  src/TestOkur.WebApi/appsettings.json
Due: app, production

Stylecop added to the projects those don't have it.
  StyleCopRules.ruleset
  src/TestOkur.Report/Repositories/OpticalFormRepository.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/Migrations/20190726103323_ListOrderAddedToOpticalFormDefinitions.cs
  tests/TestOkur.Domain.Unit.Tests/SmsCreditCalculatorTests.cs
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/Consumers/SendSmsRequestReceivedConsumerShould.cs
  tests/TestOkur.Notification.Unit.Tests/Infrastructure/RazorViewToStringRendererShould.cs
  tests/TestOkur.Notification.Unit.Tests/Infrastructure/SmsClientShould.cs
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
