Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

capabilities added to docker run
  deploy/notification-prod.sh
  deploy/report-prod.sh
  deploy/webapi-prod.sh
Due: none

Referrer should be updatable by admins
  src/TestOkur.Domain/Model/UserModel/User.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommandHandler.cs
Due: app, production

Nuget update and response compression
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

Seeders moved to featured folders
  src/TestOkur.WebApi/Application/City/CitySeeder.cs
  src/TestOkur.WebApi/Application/Exam/ExamTypeSeeder.cs
  src/TestOkur.WebApi/Application/Lesson/LessonSeeder.cs
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Application/Score/ScoreFormulaSeeder.cs
  src/TestOkur.WebApi/Application/Settings/SettingsSeeder.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
Due: app, production

Code cleanup
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

Settings removed from domain
  src/TestOkur.Common/AppSettings.cs
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Data/EntityConfigurations/Settings/AppSettingEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/SettingModel/AppSetting.cs
  src/TestOkur.Notification/Configuration/ApplicationConfiguration.cs
  src/TestOkur.Notification/Consumers/NewUserRegisteredConsumer.cs
  src/TestOkur.Notification/Consumers/UserErrorReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/INotificationFacade.cs
  src/TestOkur.Notification/Infrastructure/NotificationFacade.cs
  src/TestOkur.WebApi/Application/Settings/AppSettingReadModel.cs
  src/TestOkur.WebApi/Application/Settings/GetAllAppSettingsQuery.cs
  src/TestOkur.WebApi/Application/Settings/GetAllAppSettingsQueryHandler.cs
  src/TestOkur.WebApi/Application/Settings/SettingsController.cs
  src/TestOkur.WebApi/Application/Settings/SettingsSeeder.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Migrations/20191029093908_SettingsRemoved.Designer.cs
  src/TestOkur.WebApi/Migrations/20191029093908_SettingsRemoved.cs
  tests/TestOkur.WebApi.Integration.Tests/SettingsControllerTests.cs
Due: app, tests, production, test

sabit service added
  TestOkur.WebApi.sln
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.Sabit/Properties/launchSettings.json
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Sabit.Integration.Tests/CityApiTests.cs
  tests/TestOkur.Sabit.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

city moved to sabit
  src/TestOkur.Sabit/Application/City/CitiesController.cs
  src/TestOkur.Sabit/Application/City/City.cs
  src/TestOkur.Sabit/Application/City/District.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.Sabit/appsettings.json
  tests/TestOkur.Sabit.Integration.Tests/CityApiTests.cs
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
Due: app, tests, production, test

some apis moved to sabit
  src/TestOkur.Sabit/Application/City/CityQuery.cs
  src/TestOkur.Sabit/Application/City/CityQueryHandler.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseType.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeController.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeQuery.cs
  src/TestOkur.Sabit/Application/LicenseType/LicenseTypeQueryHandler.cs
  src/TestOkur.Sabit/Application/Localization/LocalString.cs
  src/TestOkur.Sabit/Application/Localization/LocalStringQuery.cs
  src/TestOkur.Sabit/Application/Localization/LocalStringQueryHandler.cs
  src/TestOkur.Sabit/Application/Localization/LocalizationController.cs
  src/TestOkur.Sabit/Data/cities.json
  src/TestOkur.Sabit/Data/license-types.json
  src/TestOkur.Sabit/Data/local-strings.json
  src/TestOkur.Sabit/DefaultJsonSerializerSettings.cs
  src/TestOkur.Sabit/Infrastructure/QueryWithCaching.cs
  src/TestOkur.Sabit/Infrastructure/StubCommandQueryLogger.cs
  src/TestOkur.Sabit/Infrastructure/StubUserIdProvider.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.Sabit/Utils/JsonUtils.cs
  src/TestOkur.Sabit/appsettings.json
  src/TestOkur.WebApi/Startup.cs
  tests/TestOkur.Sabit.Integration.Tests/CityApiTests.cs
  tests/TestOkur.Sabit.Integration.Tests/LicenseTypeTests.cs
  tests/TestOkur.Sabit.Integration.Tests/LocalizationTests.cs
  tests/TestOkur.Sabit.Integration.Tests/WebApplicationFactory.cs
  tests/TestOkur.WebApi.Integration.Tests/CityControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/LocalizationApiTests.cs
Due: app, tests, production, test

redundant apis removed from the application
  src/TestOkur.WebApi/Application/LicenseType/GetAllLicenseTypesQuery.cs
  src/TestOkur.WebApi/Application/LicenseType/GetAllLicenseTypesQueryHandler.cs
  src/TestOkur.WebApi/Application/LicenseType/LicenseTypeReadModel.cs
  src/TestOkur.WebApi/Application/LicenseType/LicenseTypesController.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQuery.cs
  src/TestOkur.WebApi/Application/Localization/GetLocalStringsQueryHandler.cs
  src/TestOkur.WebApi/Application/Localization/LocalString.cs
  src/TestOkur.WebApi/Application/Localization/LocalizationController.cs
  src/TestOkur.WebApi/Application/Localization/tr.json
Due: app, production

ci configuration
  .circleci/config.yml
  TestOkur.WebApi.sln
  deploy/sabit-prod.sh
  docker-compose.tests.yml
  docker-compose.yml
Due: none

failing test fixed. and some code cleanup
  mockserver/mocks/license-types.json
  mockserver/mocks/scenarios.json
  src/TestOkur.WebApi/Application/User/Clients/CreateCustomerUserModel.cs
  src/TestOkur.WebApi/Application/User/Clients/IIdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/ISabitClient.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/LicenseType.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
  src/TestOkur.WebApi/Application/User/Clients/UpdateUserModel.cs
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/DeleteUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ExtendUserSubscriptionCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/SendResetPasswordLinkCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommandHandler.cs
  src/TestOkur.WebApi/Migrations/20191029093908_SettingsRemoved.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/appsettings.Development.json
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/User/CreateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UserTest.cs
Due: app, tests, production, test

deployment script for sabit
  .circleci/config.yml
Due: none

Failing tests fixed
  docker-compose.tests.yml
Due: none

code cleanup
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Migrations/ApplicationDbContextModelSnapshot.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
Due: app, tests, production, test

stylecop boilerplate lines moved to Directory.Build.props
  Directory.Build.props
  src/TestOkur.Common/TestOkur.Common.csproj
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Domain/TestOkur.Domain.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

failing tests fixed
  src/TestOkur.Sabit/appsettings.json
Due: app, production

more csproj cleanup
  tests/Directory.Build.props
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: tests, test

more code cleanup
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Notification/Infrastructure/Data/EMailRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/ISmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/SmsRepository.cs
  src/TestOkur.Notification/Infrastructure/Data/StatsRepository.cs
  src/TestOkur.Notification/Infrastructure/TemplateService.cs
  src/TestOkur.Report/Infrastructure/Repositories/StudentOpticalFormRepository.cs
  src/TestOkur.WebApi/Application/Classroom/DeleteClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/EditClassroomCommandHandler.cs
  src/TestOkur.WebApi/Application/Classroom/GetUserClassroomsQueryHandler.cs
  src/TestOkur.WebApi/Application/Contact/DeleteContactCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/CreateExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/DeleteExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Commands/EditExamCommandHandler.cs
  src/TestOkur.WebApi/Application/Exam/Queries/ExamTypeQueryHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/CreateUnitCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/DeleteLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Lesson/Commands/EditLessonCommandHandler.cs
  src/TestOkur.WebApi/Application/Scan/StartScanSessionCommandHandler.cs
  src/TestOkur.WebApi/Application/Score/BulkEditScoreFormulaCommandHandler.cs
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/DeleteStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetUserRecordCountsQueryHandler.cs
  tests/TestOkur.Notification.Unit.Tests/Infrastructure/SmsClientShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ConsumerTest.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/Exam/ExamTest.cs
Due: app, tests, production, test

minor fixes
  src/TestOkur.WebApi/Application/User/Queries/GetUserRecordCountsQueryHandler.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
Due: app, tests, production, test

using cleanup
  tests/TestOkur.WebApi.Integration.Tests/Error/ErrorControllerTests.cs
Due: tests, test

subject details fixed
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

answerkey-report.html fixed
  src/TestOkur.Report/wwwroot/Templates/answerkey-report.html
Due: app, production

copy Directory.Build.props file along with csproj files
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

copy props file together with sln files
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

Directory.Build.props ruleset path fixed
  Directory.Build.props
Due: none

build error fixed
  .dockerignore
  Directory.Build.props
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
  start-dev.ps1
Due: app, production

Moving cities to sabit
  mockserver/mocks/cities.json
  mockserver/mocks/scenarios.json
  src/TestOkur.Data/ApplicationDbContext.cs
  src/TestOkur.Data/EntityConfigurations/City/CityEntityTypeConfiguration.cs
  src/TestOkur.Data/EntityConfigurations/City/DistrictEntityTypeConfiguration.cs
  src/TestOkur.Data/EntityConfigurations/User/UserEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/CityModel/City.cs
  src/TestOkur.Domain/Model/CityModel/District.cs
  src/TestOkur.Domain/Model/UserModel/User.cs
  src/TestOkur.WebApi/Application/City/CitiesController.cs
  src/TestOkur.WebApi/Application/City/CityReadModel.cs
  src/TestOkur.WebApi/Application/City/CitySeeder.cs
  src/TestOkur.WebApi/Application/City/DistrictReadModelMap.cs
  src/TestOkur.WebApi/Application/City/GetAllCitiesQuery.cs
  src/TestOkur.WebApi/Application/City/GetAllCitiesQueryHandler.cs
  src/TestOkur.WebApi/Application/User/Clients/City.cs
  src/TestOkur.WebApi/Application/User/Clients/District.cs
  src/TestOkur.WebApi/Application/User/Clients/ISabitClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommand.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserByAdminCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/UpdateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
  src/TestOkur.WebApi/Data/DbInitializer.cs
  src/TestOkur.WebApi/Migrations/20191031051026_CityRemoved.Designer.cs
  src/TestOkur.WebApi/Migrations/20191031051026_CityRemoved.cs
  tests/TestOkur.Domain.Unit.Tests/UserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/User/CreateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UserTest.cs
Due: app, tests, production, test

Failing tests fixed
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
Due: tests, test

dockerignore file new entries
  .dockerignore
Due: none

report changes
  src/TestOkur.Report/wwwroot/Templates/main.css
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

report fixed
  src/TestOkur.Report/wwwroot/Templates/student-exam-report.html
Due: app, production

more styling
  src/TestOkur.Report/wwwroot/Templates/main.css
Due: app, production

report re-design
  src/TestOkur.Report/wwwroot/Templates/helpers.js
  src/TestOkur.Report/wwwroot/Templates/main.css
  src/TestOkur.Report/wwwroot/Templates/question-analysis-report.html
  src/TestOkur.Report/wwwroot/Templates/student-question-analysis-report.html
Due: app, production

code cleanup
  Directory.Build.props
  tests/TestOkur.Domain.Unit.Tests/UserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/SendSmsTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserTests.cs
Due: tests, test

bugfix : disable nuget caching for a while
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

sonar docker image version
  .circleci/config.yml
Due: none

Replacing newtonsoft json with system.text.json
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
Due: app, production

failnig test fixed
  docker-compose.tests.yml
Due: none
