Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

.codecov.yml:

coverage:
  status:
    project:
      default: off
    patch:
      default: off
flags:
  app:
    paths:
      - src/
  tests:
    paths:
      - tests/

codecov.yml:

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - tests/

Push docker images with SHA tag
  .github/workflows/ci.yml
Due: none

Fix CORS
  src/TestOkur.Notification/Startup.cs
Due: app, production

Fix Middleware order
  src/TestOkur.Notification/Startup.cs
Due: app, production

Trying to fix CORS issue
  src/TestOkur.Notification/Startup.cs
Due: app, production

Trying to fix CORS
  src/TestOkur.Notification/Startup.cs
Due: app, production

Trying to fix CORS
  src/TestOkur.Notification/Program.cs
Due: app, production

Get rid of spanjson
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
Due: app, production

Fix CORS for all services
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Nuget Update
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/Common/WebApplicationFactory.cs
  tests/TestOkur.WebApi.Integration.Tests/HealthCheckTests.cs
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

Redudant prop removed
  src/TestOkur.Domain/Model/SchoolType.cs
Due: app, production

Update gitignore
  .gitignore
Due: none

Drop sonar
  .github/workflows/ci.yml
Due: none

Setup dotnet
  .github/workflows/ci.yml
Due: none

Update CI workflow to support multiple .NET versions
  .github/workflows/ci.yml
Due: none

Drop tests
  .github/workflows/ci.yml
Due: none

Remove dependency on tests for docker-report job in CI workflow
  .github/workflows/ci.yml
Due: none

Update minify dependency in Dockerfile to use v2
  src/TestOkur.Report/Dockerfile
Due: app, production

Update minification command in Dockerfile to use go install
  src/TestOkur.Report/Dockerfile
Due: app, production

Update minification command in Dockerfile to use latest version of minify
  src/TestOkur.Report/Dockerfile
Due: app, production

Update Dockerfile to use tdewolff/minify image for minification
  src/TestOkur.Report/Dockerfile
Due: app, production

Add UserId
  src/TestOkur.Notification/Configuration/SmsConfiguration.cs
Due: app, production

Add character replacement mappings in StringExtensions
  src/TestOkur.Notification/Extensions/StringExtensions.cs
Due: app, production

Fix SMS sending
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Remove duplicate EnsureSuccessStatusCode call in SmsClient
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Refactor SMS sending to use HttpRequestMessage for improved request handling
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Enhance SmsClient to include logging and improve SMS sending process
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Update logging level in SmsClient and enhance request handling in SmsServiceLoggingHandler
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/SmsServiceLoggingHandler.cs
Due: app, production

Switch logging output from Seq to Console for non-production environments
  src/TestOkur.Notification/Program.cs
Due: app, production

Enhance SmsClient to include SMS repository integration and update SMS status after sending
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
  src/TestOkur.Notification/Startup.cs
Due: app, production

Add SMS repository integration to SmsClient
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Add using directive for System namespace in SmsClient
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Comment out the BaseAddress assignment in SmsClient configuration
  src/TestOkur.Notification/Startup.cs
Due: app, production

Update subject mapping in SmsClient for exam notifications
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Add curl installation to Dockerfile for improved functionality
  src/TestOkur.Notification/Dockerfile
Due: app, production

Add subject mapping for TESTOKUR in SmsClient
  src/TestOkur.Notification/Infrastructure/Clients/SmsClient.cs
Due: app, production

Add vim installation to Dockerfile and adjust OpenSSL security level
  src/TestOkur.Notification/Dockerfile
Due: app, production

Remove vim installation from Dockerfile for streamlined setup
  src/TestOkur.Notification/Dockerfile
Due: app, production
