Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

moving from circleci to github actions
  .circleci/config.yml
  .github/workflows/ci.yml
  .vscode/settings.json
Due: none

extra step removed
  .github/workflows/ci.yml
Due: none

docker run command fixed
  .github/workflows/ci.yml
Due: none

cleanup
  .sonarcloud.properties
  coverageMerger.Dockerfile
  docker-compose.tests.yml
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.WebApi/Dockerfile
Due: app, production

fix mock container
  .github/workflows/ci.yml
Due: none

failing tests fixed
  src/TestOkur.Notification/Startup.cs
Due: app, production

cd script added
  .github/workflows/cd.yml
  deploy/notification-prod.sh
  deploy/report-prod.sh
  deploy/retry.sh
  deploy/sabit-prod.sh
  deploy/webapi-prod.sh
Due: none

pass commit hash to images
  .github/workflows/ci.yml
  tests/TestOkur.WebApi.Integration.Tests/HealthCheckTests.cs
Due: tests, test

cd indentation fixed
  .github/workflows/cd.yml
Due: none

Badges added
  README.md
Due: none

exclude html files from sonar scan
  .github/workflows/ci.yml
Due: none

Code cleanup
  src/TestOkur.Notification/Consumers/SendSmsRequestReceivedConsumer.cs
  src/TestOkur.Notification/Infrastructure/TemplateService.cs
  src/TestOkur.Report/wwwroot/assets/main.css
  src/TestOkur.Sabit/Infrastructure/StubCommandQueryLogger.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/ActivateUserCommandHandler.cs
  src/TestOkur.WebApi/Configuration/ApplicationConfiguration.cs
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/appsettings.Development.json
Due: app, production

remove redundant steps
  src/TestOkur.Notification/Dockerfile
Due: app, production

blank line removed
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
Due: app, production

exclude migrations from coverage
  .github/workflows/ci.yml
  src/TestOkur.Common/Helpers/AsyncHelper.cs
Due: app, production

Nuget Update and environment rename
  TestOkur.WebApi.sln
  src/TestOkur.Notification/appsettings.Production.json
  src/TestOkur.Report/appsettings.Production.json
  src/TestOkur.WebApi/appsettings.Production.json
Due: app, production

Log to console if it is not production
  src/TestOkur.Notification/Program.cs
  src/TestOkur.Report/Program.cs
  src/TestOkur.Sabit/Program.cs
  src/TestOkur.WebApi/Program.cs
Due: app, production

TYT form added
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormDefinition.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormDefinitionBuilder.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormDefinitions.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Migrations/20200627031652_SinglePagePerStudentAddedToOpticalFormDefinition.Designer.cs
  src/TestOkur.WebApi/Migrations/20200627031652_SinglePagePerStudentAddedToOpticalFormDefinition.cs
  src/TestOkur.WebApi/wwwroot/OpticalForms/HighSchool/TYT.jpg
Due: app, production

Dev logging settings set to Debug
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.WebApi/appsettings.json
Due: app, production

Fix : PK vioaltion issue
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Fixed PK violation
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Missing SinglePagePerStudent property added
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormDefinitionReadModel.cs
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
Due: app, tests, production, test

fixed ci steps name
  .github/workflows/ci.yml
Due: none

rework on appsettings
  src/TestOkur.Notification/appsettings.Development.json
  src/TestOkur.Notification/appsettings.Production.json
  src/TestOkur.Notification/appsettings.json
  src/TestOkur.Notification/appsettings.qa.json
  src/TestOkur.Report/appsettings.Development.json
  src/TestOkur.Report/appsettings.Production.json
  src/TestOkur.Report/appsettings.json
  src/TestOkur.Report/appsettings.qa.json
  src/TestOkur.Sabit/appsettings.Development.json
  src/TestOkur.WebApi/appsettings.Development.json
  src/TestOkur.WebApi/appsettings.Production.json
  src/TestOkur.WebApi/appsettings.json
  src/TestOkur.WebApi/appsettings.qa.json
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

env file renamed
  .github/workflows/cd.yml
Due: none

IsProd => IsProduction
  src/TestOkur.Notification/Extensions/IWebHostEnvironmentExtensions.cs
  src/TestOkur.Notification/ScheduledTasks/DailyReport/DailyReportTask.cs
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/LicenseExpirationNoticeTask.cs
Due: app, production

Using autofixture
  TestOkur.WebApi.sln
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/LicenseExpirationNoticeTask.cs
  tests/TestOkur.Report.Integration.Tests/Common/Test.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ClassroomUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ConsumerTest.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/EvaluateExamConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamCreatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/LessonNameChangedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/StudentDeletedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/StudentUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/Consumers/SubjectChangedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/DeleteTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/GetTests.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/OpticalFormTest.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/GetTests.cs
  tests/TestOkur.Report.Integration.Tests/ReportRequest/ReportRequestTest.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Test.Common/Extensions/HttpResponseMessageExtensions.cs
  tests/TestOkur.Test.Common/TestOkur.Test.Common.csproj
  tests/TestOkur.Test.Common/TestOkurAutoDataAttribute.cs
  tests/TestOkur.Test.Common/TestOkurCustomization.cs
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

failing test fixed
  src/TestOkur.Notification/ScheduledTasks/LicenseExpirationNotice/LicenseExpirationNoticeTask.cs
  tests/TestOkur.Notification.Unit.Tests/ScheduledTasks/SendLicenseExpirationNoticeShould.cs
Due: app, tests, production, test

empty line
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Failing tests fixed
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenEnumerationValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenGradeValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenIdValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenNameValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenPhoneValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/GivenStudentNumberValidator.cs
  tests/TestOkur.WebApi.Unit.Tests/Validators/ValidatorTestBase.cs
Due: tests, test

NMuget update
  TestOkur.WebApi.sln
  src/TestOkur.Data/TestOkur.Data.csproj
  tests/TestOkur.Test.Common/TestOkur.Test.Common.csproj
Due: app, tests, production, test

Some fixes
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/WebApplicationFactory.cs
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.Test.Common/TestOkur.Test.Common.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Upgrade to .net5.0
  src/TestOkur.Common/TestOkur.Common.csproj
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Domain/TestOkur.Domain.csproj
  src/TestOkur.Notification/Dockerfile
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Dockerfile
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Dockerfile
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Dockerfile
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/Directory.Build.props
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.Test.Common/TestOkur.Test.Common.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Nuget update
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.Test.Common/TestOkur.Test.Common.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

Nuget upade
  src/TestOkur.Data/TestOkur.Data.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Nuget update
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
Due: app, production

Fix code smell
  src/TestOkur.Domain/SeedWork/Enumeration.cs
Due: app, production

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
