Repository NazmiAltun/TestOkur.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests, production, test

Share DefaultJsonSerializerSettings across the solution
  src/TestOkur.Common/DefaultJsonSerializerSettings.cs
  src/TestOkur.Notification/Infrastructure/Clients/OAuthClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
  src/TestOkur.Notification/Infrastructure/Clients/WebApiClient.cs
  src/TestOkur.Sabit/Utils/JsonUtils.cs
  src/TestOkur.WebApi/Application/User/Clients/IdentityClient.cs
  src/TestOkur.WebApi/Application/User/Clients/SabitClient.cs
  src/TestOkur.WebApi/Application/User/Queries/GetAllUsersQueryHandler.cs
Due: app, production

memory limit removed for sbit
  deploy/sabit-prod.sh
Due: none

EnableCors again
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.WebApi/Startup.cs
Due: app, production

string case issue fixed
  src/TestOkur.Sabit/Data/local-strings.json
Due: app, production

Error Controller moved to sabit
  deploy/sabit-prod.sh
  src/TestOkur.Sabit/Application/Error/ErrorController.cs
  src/TestOkur.Sabit/Application/Error/ErrorModel.cs
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.Sabit/wwwroot/uploads/.gitignore
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/wwwroot/uploads/.gitignore
  tests/TestOkur.Sabit.Integration.Tests/Consumer.cs
  tests/TestOkur.Sabit.Integration.Tests/ErrorControllerTests.cs
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/WebApplicationFactory.cs
  tests/TestOkur.Sabit.Integration.Tests/ss.png
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
Due: app, tests, production, test

consumer bugfix
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

StatisticsQueryHandler bugfix
  src/TestOkur.WebApi/Application/Statistics/StatisticsQueryHandler.cs
Due: app, production

giving queue name
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Sabit/Application/City/CityQueryHandler.cs
Due: app, production

pub-sub Retry
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Report/Startup.cs
Due: app, production

Using masstransit DI method instead of writing a custom one
  src/TestOkur.Notification/Startup.cs
Due: app, production

mail title fixed
  src/TestOkur.Notification/Templates/Email/LicenseExpirationNotice.html
Due: app, production

Subject unit seeding
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
Due: app, production

failing tests fixed
  src/TestOkur.WebApi/Application/Lesson/SubjectSeeder.cs
Due: app, production

ReportClient bugfix
  src/TestOkur.Notification/Infrastructure/Clients/ReportClient.cs
Due: app, production

minor fix
  tests/TestOkur.Report.Integration.Tests/ReportRequest/AddTests.cs
Due: tests, test

ErrorSubmitted message updated
  src/TestOkur.Sabit/Data/local-strings.json
Due: app, production

WIP : Captcha Changes
  src/TestOkur.WebApi/Application/Captcha/Captcha.cs
  src/TestOkur.WebApi/Application/Captcha/CaptchaController.cs
  src/TestOkur.WebApi/Application/Captcha/CaptchaService.cs
  src/TestOkur.WebApi/Application/Captcha/ICaptchaService.cs
  src/TestOkur.WebApi/Application/User/Commands/CreateUserCommandHandler.cs
  src/TestOkur.WebApi/Application/User/Commands/SendResetPasswordLinkCommandHandler.cs
Due: app, production

Nuget update
  src/TestOkur.Notification/Startup.cs
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/Startup.cs
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/Startup.cs
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/Startup.cs
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Domain.Unit.Tests/TestOkur.Domain.Unit.Tests.csproj
  tests/TestOkur.Notification.Integration.Tests/TestOkur.Notification.Integration.Tests.csproj
  tests/TestOkur.Notification.Unit.Tests/TestOkur.Notification.Unit.Tests.csproj
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.Sabit.Integration.Tests/TestOkur.Sabit.Integration.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/TestOkur.WebApi.Integration.Tests.csproj
  tests/TestOkur.WebApi.Unit.Tests/TestOkur.WebApi.Unit.Tests.csproj
Due: app, tests, production, test

CitizenshipIdentity added to students
  src/TestOkur.Data/EntityConfigurations/Student/StudentEntityTypeConfiguration.cs
  src/TestOkur.Domain/Model/StudentModel/Student.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommand.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommand.cs
  src/TestOkur.WebApi/Application/Student/EditStudentCommandHandler.cs
  src/TestOkur.WebApi/Migrations/20191106124445_CitizenshipAddedToStudent.Designer.cs
  src/TestOkur.WebApi/Migrations/20191106124445_CitizenshipAddedToStudent.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/EditTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/StudentTest.cs
  tests/TestOkur.WebApi.Integration.Tests/User/GetUserTests.cs
Due: app, tests, production, test

cache expiration set to 30 days
  src/TestOkur.Report/Infrastructure/Repositories/SchoolResultRepository.cs
Due: app, production

Failing tests fixed
  mockserver/mocks/captcha.js
  mockserver/mocks/captcha.png
  mockserver/mocks/scenarios.json
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.Sabit/TestOkur.Sabit.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  src/TestOkur.WebApi/appsettings.json
  tests/TestOkur.WebApi.Integration.Tests/CaptchaControllerTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Common/Test.cs
  tests/TestOkur.WebApi.Integration.Tests/Exam/DeleteTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Exam/ExamTest.cs
  tests/TestOkur.WebApi.Integration.Tests/Sms/AddCreditsTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ActivateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/CreateUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/DeleteUserTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/ResetPasswordTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UpdateUserByAdminTests.cs
  tests/TestOkur.WebApi.Integration.Tests/User/UserTest.cs
Due: app, tests, production, test

code cleanup
  src/TestOkur.Sabit/Startup.cs
Due: app, production

VOCC
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormDefinitions.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormTextLocation.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormTextLocationBuilder.cs
  src/TestOkur.Domain/Model/OpticalFormModel/OpticalFormTypes.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Application/Student/BulkCreateStudentCommandHandler.cs
  src/TestOkur.WebApi/Application/Student/CreateStudentCommand.cs
  src/TestOkur.WebApi/Application/Student/StudentReadModel.cs
  src/TestOkur.WebApi/Migrations/20191106124445_CitizenshipAddedToStudent.cs
  src/TestOkur.WebApi/wwwroot/OpticalForms/PrimarySchool/VOCC.jpg
  tests/TestOkur.WebApi.Integration.Tests/Student/CreateTests.cs
  tests/TestOkur.WebApi.Integration.Tests/Student/EditTests.cs
Due: app, tests, production, test

CitizenshipIdentity Location added
  src/TestOkur.Data/EntityConfigurations/OpticalForm/OpticalFormTextLocationEntityTypeConfiguration.cs
  src/TestOkur.WebApi/Migrations/20191111092551_CitizenshipIdentityLocationAdded.Designer.cs
  src/TestOkur.WebApi/Migrations/20191111092551_CitizenshipIdentityLocationAdded.cs
  tests/TestOkur.WebApi.Integration.Tests/OpticalFormControllerTests.cs
Due: app, tests, production, test

Seeding logic for OpticalForms changed
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

FrmVocc added to exam type single lesson
  src/TestOkur.WebApi/Application/Exam/ExamTypeSeeder.cs
Due: app, production

need to attach
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Attach range
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Entity attach bug fixed
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

efcore attach bugfix
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

CitizenshipIdentity location in read model
  src/TestOkur.WebApi/Application/OpticalForm/GetAllOpticalFormTypesQueryHandler.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormTextLocationReadModel.cs
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
  src/TestOkur.WebApi/Migrations/20191111092551_CitizenshipIdentityLocationAdded.cs
Due: app, production

form location
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

location fix
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

missing definitions added
  src/TestOkur.WebApi/Application/Exam/ExamTypeSeeder.cs
Due: app, production

Vocc form moved to trial exam
  src/TestOkur.WebApi/Application/Exam/ExamTypeSeeder.cs
Due: app, production

FormLessonSection fixed for Vocc
  src/TestOkur.WebApi/Application/OpticalForm/OpticalFormsSeeder.cs
Due: app, production

Nuget update
  src/TestOkur.Common/TestOkur.Common.csproj
  src/TestOkur.Contracts/TestOkur.Contracts.csproj
  src/TestOkur.Domain/TestOkur.Domain.csproj
  src/TestOkur.Notification/TestOkur.Notification.csproj
  src/TestOkur.Report/TestOkur.Report.csproj
  src/TestOkur.WebApi/TestOkur.WebApi.csproj
  tests/TestOkur.Report.Integration.Tests/Consumers/ExamUpdatedConsumerShould.cs
  tests/TestOkur.Report.Integration.Tests/OpticalForm/AddTests.cs
  tests/TestOkur.Report.Integration.Tests/TestOkur.Report.Integration.Tests.csproj
  tests/TestOkur.Report.Unit.Tests/EvaluatorTests.cs
  tests/TestOkur.Report.Unit.Tests/TestOkur.Report.Unit.Tests.csproj
  tests/TestOkur.WebApi.Integration.Tests/ExamTypeControllerTests.cs
Due: app, tests, production, test

form upload endpoint
  deploy/sabit-prod.sh
  src/TestOkur.Sabit/Application/Form/FormsController.cs
  src/TestOkur.Sabit/wwwroot/forms/.gitignore
Due: app, production

memory limit removed for report api
  deploy/report-prod.sh
Due: none

Path conditions:
  app: any of: src/
  tests: any of: tests/
  production: any of: src/
  test: any of: tests/
